@{
    ViewData["Title"] = "Lista de utilizadores";
}
@model IEnumerable<ApplicationUser>

<h1 class="text-start ms-3" style="margin-top: 72px; color: #6610F2;">Filtros</h1>

<form method="get" action="@Url.Action("Index", "Users")">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group ms-4">
                <label for="inputName" class="row justify-content-left ms-1">Nome:</label>
                <input type="text" class="form-control" id="inputName" name="name" placeholder="Procurar">
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <label for="inputCountry" class="row justify-content-left ms-4">País:</label>
                <input type="text" class="form-control ms-4" id="inputCountry" name="country" placeholder="Procurar">
            </div>
        </div>
        <div class="col-md-1 ms-2 mt-3">
            <button type="submit" class="btn btn-primary btn-block">
                <img src="/images/SearchIcon.png" alt="Procurar" height="37" width="45" />
            </button>
        </div>
    </div>
</form>

<div class="border border-1 border-light-grey my-2"></div>

<h2 class="text-start ms-3 my-4">Utilizadores</h2>

<div class="container">
    @if (!Model.Any())
    {
        <p class="text-center">Não foram encontrados utilizadores com base nesses critérios.</p>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            @foreach (var user in Model)
            {
                <div class="col mb-4">
                    <div class="card mt-3">
                        <div class="text-center">
                            <img src="@(!string.IsNullOrEmpty(user.ImagePath) ? user.ImagePath : "/images/UnknownUser.jpg")" alt="Profile Picture" width="75" height="75">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@user.FullName</h5>
                            <p><strong>Género favorito:</strong> @(string.IsNullOrEmpty(user.FavoriteGenre) ? "Não especificado" : user.FavoriteGenre)</p>
                            <p><strong>País:</strong> @(string.IsNullOrEmpty(user.Country) ? "Não especificado" : user.Country)</p>
                            <a href="@Url.Action("Details", "Profiles", new { id = user.Id })" class="btn btn-primary">Ver perfil</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>