@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@inject UserManager<ApplicationUser> userManager
@{

}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="text-decoration-none text-primary" asp-controller="Profiles" asp-action="Details" asp-route-id="@((userManager.GetUserAsync(User)).Result.Id)">@Localizer["back"]</a></li>
    <hr />
    <li class="nav-item"><a class="text-decoration-none text-black @ManageNavPages.EditPhotoNavClass(ViewContext)" id="editphoto" asp-page="./EditPhoto">@Localizer["change_photo"]</a></li>
    <hr />
    <li class="nav-item"><a class="text-decoration-none text-black @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">@Localizer["edit_profile"]</a></li>
    <hr />
    <li class="nav-item"><a class="text-decoration-none text-black @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">@Localizer["change_email"]</a></li>
    <hr />
    @if ((await userManager.GetUserAsync(User)).PasswordHash != null)
    {
        <li class="nav-item"><a class="text-decoration-none text-black @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">@Localizer["change_password"]</a></li>
        <hr />
    }
    <li class="nav-item"><a class="text-decoration-none text-black @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">@Localizer["delete_profile"]</a></li>
    <hr />
</ul>