@inject UserManager<ApplicationUser> userManager
@{

}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="text-decoration-none text-primary">Voltar</a></li>
    <hr />
    <li class="nav-item"><a class="text-decoration-none text-black @ManageNavPages.EditPhotoNavClass(ViewContext)" id="editphoto" asp-page="./EditPhoto">Alterar foto</a></li>
    <hr />
    <li class="nav-item"><a class="text-decoration-none text-black @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <hr />
    <li class="nav-item"><a class="text-decoration-none text-black @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Alterar Email</a></li>
    <hr />
    @if ((await userManager.GetUserAsync(User)).PasswordHash != null)
    {
        <li class="nav-item"><a class="text-decoration-none text-black @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Alterar Password</a></li>
        <hr />
    }
    <li class="nav-item"><a class="text-decoration-none text-black @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
    <hr />
</ul>
