@page
@using System.Security.Claims;
@inject UserManager<ApplicationUser> userManager;
@model EmailModel
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = Localizer["manage_email"];
    ViewData["ActivePage"] = ManageNavPages.Email;
    var currentUser = await userManager.GetUserAsync(User);
}

<div>
    @{
        await Html.RenderPartialAsync("_Sidebar");
    }
</div>

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
        <form id="email-form" method="post" class="w-100">
            
            @if (Model.IsEmailConfirmed)
            {
                <div>
                    <label asp-for="Email" class="form-label text-primary mb-0">Email</label>
                    <div class="form-floating input-group">
                    <input asp-for="Email" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="mt-3">
                    <label asp-for="Email" class="form-label text-primary mb-0 ">@Localizer["new"] Email</label>
                    <input asp-for="Email" class="form-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">@Localizer["send_email"]</button>
                </div>
            }
            <div class="mt-3">
                <label asp-for="Input.NewEmail" class="form-label text-primary mb-0">@Localizer["new"] Email</label>
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                <span asp-validation-for="Input.NewEmail" class="text-danger">@ViewData.ModelState?["NewEmail"]?.Errors?.FirstOrDefault()?.ErrorMessage.ToString()</span>
            </div>
            @if (currentUser.PasswordHash == null) {
                <div class="mt-3 me-4 me-md-0">
                    <label asp-for="Input.NewPassword" class="form-label text-primary mb-0 ">@Localizer["new_alt"] Password</label>
                    <div class="d-flex">
                        <input type="password" asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" id="new-password-input" />
                        <div class="position-relative">
                            <div id="password-eye" class="bi bi-eye fs-4 text-primary pointer-active ms-1 position-absolute" onclick="toggleNewPasswordEmailVisibility()"></div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.NewPassword" class="text-danger">@ViewData.ModelState?["NewPassword"]?.Errors?.FirstOrDefault()?.ErrorMessage.ToString()</span>
                </div>
                <div class="mt-3 me-4 me-md-0">
                    <label asp-for="Input.ConfirmNewPassword" class="form-label text-primary mb-0">@Localizer["confirm"] Password</label>
                    <div class="d-flex">
                        <input type="password" asp-for="Input.ConfirmNewPassword" class="form-control" autocomplete="new-password" aria-required="true" id="confirm-new-password-input" />
                        <div class="position-relative">
                            <div id="confirm-password-eye" class="bi bi-eye fs-4 text-primary pointer-active ms-1 position-absolute" onclick="toggleConfirmNewPasswordEmailVisibility()"></div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.ConfirmNewPassword" class="text-danger">@ViewData.ModelState?["ConfirmNewPassword"]?.Errors?.FirstOrDefault()?.ErrorMessage.ToString()</span>
                </div>
            }
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="mt-3 w-100 btn btn-lg btn-primary">@Localizer["change"] email</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function toggleNewPasswordEmailVisibility() {
            togglePasswordVisibility("new-password-input", "password-eye");
        }
        function toggleConfirmNewPasswordEmailVisibility() {
            togglePasswordVisibility("confirm-new-password-input", "confirm-password-eye");
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
