@page
@model IndexModel
@using Tidbeat.Services
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = Localizer["profile"];
    ViewData["ActivePage"] = ManageNavPages.Index;
    List<SelectListItem> genders = new()
    {
        new SelectListItem {Text = Localizer["male"].Value, Value="male"},
        new SelectListItem {Text = Localizer["female"].Value, Value="female"},
        new SelectListItem {Text = Localizer["non_binary"].Value, Value="non_binary"}
    };
    List<SelectListItem> countries = new List<SelectListItem> { new SelectListItem { Text = "", Value = "" } };
    countries.AddRange(GlobalizationService.CountryList().Select(c => new SelectListItem { Text = c, Value = c}).ToList());
    List<SelectListItem> genres = new List<SelectListItem> { new SelectListItem { Text = "", Value = "" } };
    genres.AddRange(MusicService.AllGenres().Select(g => new SelectListItem { Text = Localizer[g].Value, Value = g}).ToList());
}

<div>
    @{
        await Html.RenderPartialAsync("_Sidebar");
    }
</div>

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form id="profile-form" method="post" class="w-100">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mt-3">
                <label asp-for="Input.FullName" class="form-label text-primary">@Localizer["name"]</label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="Input.BirthdayDate" class="form-label text-primary">@Localizer["birth"]</label>
                <input asp-for="Input.BirthdayDate" type="date" class="form-control second-phase mt-0" autocomplete="username" aria-required="true" id="birthField"/>
                <span asp-validation-for="Input.BirthdayDate" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="Input.Gender" class="form-label text-primary">@Localizer["gender"]</label>
                <select asp-for="Input.Gender" asp-items="genders" class="form-control second-phase form-select mt-0" id="genderField"></select>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="Input.FavoriteGenre" class="form-label text-primary">@Localizer["favorite_genre"]</label>
                <select asp-for="Input.FavoriteGenre" asp-items="genres" class="form-control second-phase form-select mt-0" id="genderField"></select>
                <span asp-validation-for="Input.FavoriteGenre" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="Input.Country" class="form-label text-primary">@Localizer["nation"]</label>
                <select asp-for="Input.Country" asp-items="countries" class="form-control second-phase form-select mt-0" id="genderField"></select>
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
            <div class="mt-3 align-rigth">
                <textarea asp-for="Input.AboutMe" id="postcreate" class="form-control rich-text-index-profile" style="height: 200px; border: 1.5px solid #6610F2; border-radius: 15px;" placeholder="@Localizer["about_me"]..."></textarea>
                <span asp-validation-for="Input.AboutMe" class="text-danger"></span>                
            </div>
            <button id="update-profile-button" type="submit" class="w-100 mt-3 btn btn-lg btn-primary">@Localizer["save"]</button>
        </form>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
