@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    List<SelectListItem> genders = new()
    {
        new SelectListItem {Text = "Masculino", Value="Masculino"},
        new SelectListItem {Text = "Feminino", Value="Feminino"},
        new SelectListItem {Text = "Não Binário", Value="Não Binário"}
    };
}

<style>
    .first-phase {
        display: inherit;
    }

    .second-phase {
        display: none;
    }
</style>
<div class="text-center d-flex flex-column temporary-margin">
    <div class="display-4 text-primary">Regista-te no TidBeat!</div>
    <form class="mt-3 mx-auto w-25" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <label asp-for="Input.Email" class="first-phase form-label text-primary mb-0 ">Email</label>
        <input asp-for="Input.Email" class="form-control first-phase mt-0" autocomplete="username" aria-required="true" id="registerEmailField" />
        <span asp-validation-for="Input.Email" class="text-danger" id="emailDanger"></span>
  
        <label asp-for="Input.Password" class="first-phase form-label text-primary mt-3 mb-0"></label>
        <input asp-for="Input.Password" class="form-control first-phase mt-0" autocomplete="new-password" aria-required="true" id="registerPasswordField" />
        <span asp-validation-for="Input.Password" class="text-danger" id="passDanger"></span>

        <label asp-for="Input.ConfirmPassword" class="first-phase form-label text-primary mt-3 mb-0"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control first-phase mt-0" autocomplete="new-password" aria-required="true" id="registerConfirmPasswordField" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger" id="passConfirmDanger"></span>

        <label asp-for="Input.FullName" class="second-phase form-label text-primary mb-0"></label>
        <input asp-for="Input.FullName" class="form-control second-phase mt-0" id="nicknameField" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Input.FullName" class="text-danger" id="nameDanger"></span>

        <label asp-for="Input.Gender" class="second-phase form-label text-primary mt-3 mb-0"></label>
        <select asp-for="Input.Gender" asp-items="genders" class="form-control second-phase form-select mt-0" id="genderField"></select>
        <span asp-validation-for="Input.Gender" class="text-danger" id="genderDanger"></span>

        <label asp-for="Input.BirthdayDate" class="second-phase form-label text-primary mt-3 mb-0"></label>
        <input asp-for="Input.BirthdayDate" type="date" class="form-control second-phase mt-0" autocomplete="username" aria-required="true" id="birthField" />
        <span asp-validation-for="Input.Email" class="text-danger" id="birthDanger"></span>

        <div class="d-flex flex-row justify-content-evenly mt-5 w-auto">
            <asp:Button id="reg-phase-btn" class="first-phase btn btn-primary mr-5">Continuar Registo</asp:Button>
            <asp:Button id="registerSubmit" class="second-phase btn btn-primary mr-5" onclick="RegisterFunction()">Efetuar Registo</asp:Button>
            <asp:Button id="registerFinalSubmit" type="submit" class="hidden" onclick=""></asp:Button>
            <button class="btn btn-primary ml-5" asp-page="./Login">Efetuar Login</button>
        </div>
        

    </form>
</div>
<script>
    "use strict";
    function showPhase(isPhaseOne) {
        let pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{6,}$/;
        let email = document.getElementById('registerEmailField').value;
        let password = document.getElementById('registerPasswordField').value;
        let confirmPassword = document.getElementById('registerConfirmPasswordField').value;
        if (!email.includes("@@")) {
            document.getElementById('emailDanger').value = "O email é inválido";
            console.log("Email Wrong");
            return
        }
        if (!pattern.test(password)) {
            document.getElementById('passDanger').value = "A palavra-passe deve conter, pelo menos 6 caracteres, dos quais têm que ter um número [0-9],uma letra minuscula [a-z], uma letra maiuscula [A-Z] e um caracter especial [@@&?%]";
            console.log("Password Wrong");
            return
        }
        if (!(password === confirmPassword)) {
            document.getElementById('passConfirmDanger').value = "A palavra-passe e a confirmação de palavra-passe não são iguais.";
            console.log("Password and ConfirmPassword Different");
            return
        }
        let phaseOneStyle = (!!isPhaseOne) ? "none" : "inherit";
        let phaseTwoStyle = (!!isPhaseOne) ? "inherit" : "none";

        let firstPhaseLen = document.getElementsByClassName("first-phase").length;
        let secondPhaseLen = document.getElementsByClassName("second-phase").length;
        for (let i = 0; i < firstPhaseLen; i++) {
            document.getElementsByClassName("first-phase")[i].style.display = phaseOneStyle;
        }
        for (let i = 0; i < secondPhaseLen; i++) {
            document.getElementsByClassName("second-phase")[i].style.display = phaseTwoStyle;
        }
    }
    function registerPhase() {
        let isFirstPhase = document.getElementsByClassName("first-phase")[0].style.display !== "none";
        console.log(isFirstPhase);
        showPhase(isFirstPhase);
        event.preventDefault();
    }

    document.getElementById("reg-phase-btn").onclick = registerPhase;
    function RegisterFunction(){
        let birthDate = document.getElementById("birthField");
        let gender = document.getElementById("genderField");
        let username = document.getElementById("nicknameField");
        if (!birthDate.value) {
            document.getElementById('birthDanger').value = "Não selecionou uma data de aniversário válida";
            event.preventDefault();
            console.log(birthDate);
            return false
        }
        if (!username || username.value === "") {
            document.getElementById('nameDanger').value = "Não um nome válido";
            event.preventDefault();
            console.log(username);
            return false
        }
        document.getElementById("registerForm").submit();
    }
</script>

<!--
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FullName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.FullName"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.BirthdayDate" type="date" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.BirthdayDate"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="Input.Gender" asp-items="genders" class="form-control form-select mt-0"></select>
                <label asp-for="Input.Gender"></label>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
    <div>
                                                                    <p>
                                                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                                                        about setting up this ASP.NET application to support logging in via external services</a>.
                                                                    </p>
    </div>
                }
                else
                {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                                    <div>
                                                                        <p>
                                                                            @foreach (var provider in Model.ExternalLogins)
                                {
                                                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                                                                        </p>
                                                                    </div>
    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
    -->
