@model ApplicationUser
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Details";
    List<Post> allPosts = ViewBag.posts;
    ApplicationUser user = Model;
    var tempval = TempData["user"];
    string songNameString = "";
    int songNameLimit = 48;

    string songDivId = "";
    string removeFavoriteSpanId = "";
    List<ApplicationUser>? Followies = new List<ApplicationUser>();

    List<ApplicationUser>? Followers = new List<ApplicationUser>();
    @if (TempData.ContainsKey("Followies"))
    {
            Followies = (List<ApplicationUser>?)TempData["Followies"];
    }
    @if (TempData.ContainsKey("Followers"))
    {
            Followers = (List<ApplicationUser>?)TempData["Followers"];
    }
}

<!--All music info goes here-->
<div class="container-fluid row w-100 d-flex flex-column flex-lg-row mx-0">
    <div class="d-flex flex-column col-lg-6 col-md-12 vh-100-minus-navbar border-lg-end pe-1 mt-4 pt-5">
        <div class="d-flex flex-column flex-xl-row justify-content-lg-start align-items-center">
            @if (!string.IsNullOrEmpty(user.ImagePath)) {
                <img src="@user.ImagePath" height="200" class="border border-dark rounded" />
            }else
            {
                <img src="~/images/UnknownUser.jpg" height="200" class="border border-dark rounded" />
            }
            <div class="ms-2 text-start w-100">
                <div class="d-flex">
                    @if (user.Role.Equals(Tidbeat.Enums.RoleType.Administrator))
                    {
                        <div class="bi bi-diamond-fill fs-3 py-0 text-primary" data-toggle="tooltip" data-placement="top" title="@Localizer["admin"]"></div>
                    }
                    else if (user.Role.Equals(Tidbeat.Enums.RoleType.Moderator))
                    {
                        <div class="bi bi-diamond-fill fs-3 py-0 text-danger" data-toggle="tooltip" data-placement="top" title="@Localizer["moderator"]"></div>
                    }
                    else
                    {
                        <div class="bi bi-music-note fs-3 py-0 text-black" data-toggle="tooltip" data-placement="top" title="@Localizer["normal_user"]"></div>
                    }
                    @if (tempval != null)
                    {
                        <a formmethod="get" asp-area="Identity" asp-page="/Account/Manage/Index" class="align-self-center mr-auto text-primary hover-background-grey rounded text-decoration-none px-2 pt-1 pb-1 bi bi-pencil-fill"></a>
                    } else {
                        if (User.Identity.IsAuthenticated) {
                            <div>
                                <button class="bi bi-exclamation-triangle-fill text-danger fs-4 hover-background-grey py-0 px-1 btn" data-bs-toggle="modal" data-bs-target="#report-modal" data-id="@Model.Id" data-type="User"></button>
                            </div>
                        }
                    }
                </div>
                <div class="d-flex">
                    <h1 class="text-primary">@user.FullName</h1>
                    @if (!ViewBag.IsCurrentUser && User.Identity?.IsAuthenticated) {
                        <a class="align-self-center btn bi bi-chat-right-text fs-4 py-0" href="@Url.Action("StartTwoPersonConversation", "Conversations", new { currentUserId = ViewBag.CurrentUser.Id, otherUserId = Model.Id })"></a>
                        <div id="FollowUpButton" class="align-self-center btn bi @if (TempData.ContainsKey("Follow")){var text="bi-person-check";@text;}else{var text="bi-person-plus";@text;} fs-4 py-0" onclick="@if (TempData.ContainsKey("Follow")){var text = "unfollow()";@text;}else{var text = "follow()";@text;}"></div>
                    }
                </div>
                <div> <span class="text-primary">@Localizer["gender"]:</span> @Localizer[user.Gender]</div>
                <div> <span class="text-primary">@Localizer["birth_date"]:</span> @user.BirthdayDate.Date.ToShortDateString()</div>
                <div><span class="text-primary">@Localizer["favorite_genre"]:</span> @Localizer[user.FavoriteGenre ?? ""]</div>
                <div><span class="text-primary">@Localizer["nation"]:</span> @user.Country</div>
            </div>
        </div>
        <hr style="height: 1px" />
        <div class="d-flex w-100 justify-content-around">
            <a class="text-decoration-none text-dark border-right-1 p-1" id="optionAboutMe">@Localizer["about_me"]</a>
            <a class="text-decoration-none text-dark border-right-1 p-1" id="optionMusicsFav">@Localizer["favorite_songs"]</a>
            <a class="text-decoration-none text-dark border-right-1 p-1" id="optionFollowers">@Localizer["followers"]</a>
            <a class="text-decoration-none text-dark p-1" id="optionFollowersReverse">@Localizer["followies"]</a>
        </div>
        <hr style="height: 1px" />
        <div id="favouriteSongsContent">
            <div class="text-primary">@Localizer["favorite_songs"]</div>
            <div class="scrollable-posts h-75">
                @if (ViewBag.FavoriteSongs.Count != 0) {
                    @foreach (Song song in ViewBag.FavoriteSongs)
                    {
                        
					    songDivId = "song-div--" + song.SongId;
					    removeFavoriteSpanId = "remove-favorite-span--" + song.SongId;
                    
                        <div
                            id=@songDivId
                            class="border-0 border-2 border-start border-dark mb-2 d-flex flex-row">
                            @if (ViewBag.IsCurrentUser) {
                                <span id=@removeFavoriteSpanId
                          class="bi bi-x-lg text-primary ms-1 border profile-remove-song pointer-active"></span>
                            }
                        
                            <span class="w-auto ms-1 fs-6">
                                @{
                                    if (song.Name.Length < songNameLimit)
                                    {
                                        songNameString = "" + song.Name;
                                    }
                                    else
                                    {
                                        songNameString = song.Name.Substring(0, songNameLimit) + " (...)";
                                    }
                                }
                                <span class="text-primary fw-semibold">@songNameString</span>
                                , @Localizer["from"]
                                <span class="text-primary fw-semibold">@song.Band.Name</span>
                            </span>
                        </div>
                    }
                } else {
                    <div class="border border-top-0 border-bottom-0 border-end-0">@Localizer["no_favorited_song_yet"]</div>
                }
            
            </div>
        </div>
        <div id="AboutMeContent">
            <div class="text-primary">@Localizer["about_me"]</div>
            <div>
                @Html.Raw(user.AboutMe)
            </div>
        </div>
        <div id="FollowersContent" class="h-100">
            <div class="text-primary">@Localizer["followers"]</div>
            <div class="scrollable-posts h-100">
                @if (TempData.ContainsKey("Followers"))
                {
                    if (Followers?.Count > 0)
                    {
                        foreach (var item in Followers)
                        {
                            <a class="w-100 mt-1 hover-background-grey pointer-active" asp-Controller="Profiles" asp-Action="Details" asp-route-id="@item.Id">
                                <div class="hover-background-grey pointer-active mt-1 border border-primary rounded d-flex w-100">
                                    @if (!string.IsNullOrEmpty(item.ImagePath))
                                    {
                                        <img src="@item.ImagePath" height="75" class="border border-dark rounded" />
                                    }else
                                    {
                                        <img src="~/images/UnknownUser.jpg" height="75" class="border border-dark rounded" />
                                    }
                                    <div class="align-self-center">@item.FullName</div>
                                </div>
                            </a>
                        }
                    }
                    else
                    { 
                        @Localizer["no_followers"];
                    }
                }else
                {
                    @Localizer["no_followers"];
                }
            </div>
        </div>
        <div id="FollowersReverseContent" class="h-100">
            <div class="text-primary">@Localizer["followies"]</div>
            <div class="scrollable-posts h-100">
                @if (TempData.ContainsKey("Followies"))
                {
                    if (Followies?.Count > 0)
                    {
                        foreach (var item in Followies)
                        {
                            <a class="w-100 mt-1 hover-background-grey pointer-active" asp-Controller="Profiles" asp-Action="Details" asp-route-id="@item.Id">
                                <div class="hover-background-grey pointer-active mt-1 border border-primary rounded d-flex w-100">
                                    @if (!string.IsNullOrEmpty(item.ImagePath))
                                    {
                                        <img src="@item.ImagePath" height="75" class="border border-dark rounded" />
                                    }
                                    else
                                    {
                                        <img src="~/images/UnknownUser.jpg" height="75" class="border border-dark rounded" />
                                    }
                                    <div class="align-self-center">@item.FullName</div>
                                </div>
                            </a>
                        }

                    } else 
                    {
                        @Localizer["no_followies"];
                    }

                }else
                {
                    @Localizer["no_followies"];
                }
            </div>
        </div>
    </div>
    <!--All posts goes here-->
    <div class="col-lg-6 col-md-12 mt-5 pt-5 scrollable-posts">
        <div class="d-flex justify-content-center mb-2">
            <div class="fs-3 me-4">@Localizer["my_posts"]</div>
        </div>
        @if (allPosts.Count == 0)
        {
            <div>@Localizer["first_post"]</div>
            <img src="~/images/NoPostsImage.png" height="120" class="mt-5" />
        }
            <a class="bottom-0 end-0 mt-3 me-4 mb-4 btn btn-primary post-btn-center-lg" asp-controller="Posts" asp-action="Create">
                @Localizer["create_post"]
            </a>
        @foreach (Post post in allPosts)
        {
            <a class="text-decoration-none text-black" href="@Url.Action("Details", "Posts", new { id = post.PostId })">
                <div class="d-flex align-items-center border border-2 border-primary p-1 rounded mb-2 hover-background-grey">
                    <div class="border-end border-2 border-primary pe-2">
                        <div>@post.User.FullName</div>
                        <div class="fs-7">@Localizer["created_in"]: @post.CreationDate.Date.ToShortDateString()</div>
                    </div>
                    <div class="ms-2">@post.Title</div>
                </div>
            </a>
        }
    </div>
</div>
<div class="w-75">
    @Html.Partial("_ReportModalPartial")
</div>
<script>
    /*
    $(document).ready(function () {
		$(".profile-remove-song").click(function () {
			var songId = $(this).attr("id").split("--")[1];
			var songDivId = "#song-div--" + songId;
			var removeFavoriteSpanId = "#remove-favorite-span--" + songId;
			$.ajax({
				url: "/Profiles/RemoveFavoriteSong",
				type: "POST",
				data: { songId: songId },
				success: function (data) {
					if (data == "success") {
						$(songDivId).remove();
						$(removeFavoriteSpanId).remove();
					}
				},
			});
		});
	});
        */
    /*eval(})*/
    const protocol = window.location.protocol; // "http:" or "https:"
    const hostname = window.location.hostname; // e.g. "example.com"
    const homeUrl = window.location.origin;
    function follow() {
        fetch(`${homeUrl}/Follows/Follow?userId=@user.Id.Split(':')[0]`, {

            method: 'POST'
        })
            .then(response => response.json())
            .then(data => {
                // Update the contents of the result container with the new data
               let domChange = document.getElementById("FollowUpButton");
               domChange.classList.remove("bi-person-plus");
               domChange.classList.add("bi-person-check");
                domChange.onmouseover = function () {
                    domChange.classList.replace('bi-person-check', 'bi-person-dash');
                };

                domChange.onmouseout = function () {
                    domChange.classList.replace('bi-person-dash', 'bi-person-check');
                };
               domChange.removeAttribute("onclick");
               domChange.onclick = unfollow;
            })
            .catch(error => {
                // Handle errors here
                console.error(error);
            });
    }
    function unfollow() {
        fetch(`${homeUrl}/Follows/UnFollow?userId=@user.Id.Split(':')[0]`, {
            method: 'POST'
        })
            .then(response => response.json())
            .then(data => {
                // Update the contents of the result container with the new data
                let domChange = document.getElementById("FollowUpButton");
                domChange.classList.remove("bi-person-check");
                domChange.classList.remove("bi-person-dash");
                domChange.classList.add("bi-person-plus");
                domChange.onmouseover = null;
                domChange.onmouseout = null;
                domChange.removeAttribute("onclick");
                domChange.onclick = follow;
            })
            .catch(error => {
                // Handle errors here
                console.error(error);
            });
    }
    document.getElementById("optionAboutMe").classList.add('bg-primary')
    document.getElementById("optionMusicsFav").classList.remove('bg-primary')
    document.getElementById("optionFollowers").classList.remove('bg-primary')
    document.getElementById("optionFollowersReverse").classList.remove('bg-primary')
    document.getElementById("optionAboutMe").classList.add('text-white')
    document.getElementById("optionMusicsFav").classList.remove('text-white')
    document.getElementById("optionFollowers").classList.remove('text-white')
    document.getElementById("optionFollowersReverse").classList.remove('text-white')
    document.getElementById("favouriteSongsContent").style.display = "none"
    document.getElementById("AboutMeContent").style.display = "inline"
    document.getElementById("FollowersContent").style.display = "none"
    document.getElementById("FollowersReverseContent").style.display = "none"
    document.getElementById("optionAboutMe").onclick = function () 
    {
        document.getElementById("optionAboutMe").classList.add('bg-primary')
        document.getElementById("optionMusicsFav").classList.remove('bg-primary')
        document.getElementById("optionFollowers").classList.remove('bg-primary')
        document.getElementById("optionFollowersReverse").classList.remove('bg-primary')
        document.getElementById("optionAboutMe").classList.add('text-white')
        document.getElementById("optionMusicsFav").classList.remove('text-white')
        document.getElementById("optionFollowers").classList.remove('text-white')
        document.getElementById("optionFollowersReverse").classList.remove('text-white')
        document.getElementById("favouriteSongsContent").style.display = "none"
        document.getElementById("AboutMeContent").style.display = "inline"
        document.getElementById("FollowersContent").style.display = "none"
        document.getElementById("FollowersReverseContent").style.display = "none"
    };
    document.getElementById("optionMusicsFav").onclick = function () {
        document.getElementById("optionAboutMe").classList.remove('bg-primary')
        document.getElementById("optionMusicsFav").classList.add('bg-primary')
        document.getElementById("optionFollowers").classList.remove('bg-primary')
        document.getElementById("optionFollowersReverse").classList.remove('bg-primary')
        document.getElementById("optionAboutMe").classList.remove('text-white')
        document.getElementById("optionMusicsFav").classList.add('text-white')
        document.getElementById("optionFollowers").classList.remove('text-white')
        document.getElementById("optionFollowersReverse").classList.remove('text-white')
        document.getElementById("favouriteSongsContent").style.display = "inline"
        document.getElementById("AboutMeContent").style.display = "none"
        document.getElementById("FollowersContent").style.display = "none"
        document.getElementById("FollowersReverseContent").style.display = "none"
    };
    document.getElementById("optionFollowers").onclick = function () {
        document.getElementById("optionAboutMe").classList.remove('bg-primary')
        document.getElementById("optionMusicsFav").classList.remove('bg-primary')
        document.getElementById("optionFollowers").classList.add('bg-primary')
        document.getElementById("optionFollowersReverse").classList.remove('bg-primary')
        document.getElementById("optionAboutMe").classList.remove('text-white')
        document.getElementById("optionMusicsFav").classList.remove('text-white')
        document.getElementById("optionFollowers").classList.add('text-white')
        document.getElementById("optionFollowersReverse").classList.remove('text-white')
        document.getElementById("favouriteSongsContent").style.display = "none"
        document.getElementById("AboutMeContent").style.display = "none"
        document.getElementById("FollowersContent").style.display = "inline"
        document.getElementById("FollowersReverseContent").style.display = "none"
    };
    document.getElementById("optionFollowersReverse").onclick = function () {
        document.getElementById("optionAboutMe").classList.remove('bg-primary')
        document.getElementById("optionMusicsFav").classList.remove('bg-primary')
        document.getElementById("optionFollowers").classList.remove('bg-primary')
        document.getElementById("optionFollowersReverse").classList.add('bg-primary')
        document.getElementById("optionAboutMe").classList.remove('text-white')
        document.getElementById("optionMusicsFav").classList.remove('text-white')
        document.getElementById("optionFollowers").classList.remove('text-white')
        document.getElementById("optionFollowersReverse").classList.add('text-white')
        document.getElementById("favouriteSongsContent").style.display = "none"
        document.getElementById("AboutMeContent").style.display = "none"
        document.getElementById("FollowersContent").style.display = "none"
        document.getElementById("FollowersReverseContent").style.display = "inline"
    };
    // Do this without JQuery
    let removeFavoriteSpans = document.getElementsByClassName("profile-remove-song");
	for (let i = 0; i < removeFavoriteSpans.length; i++) {
		removeFavoriteSpans[i].addEventListener("click", function () {
			console.log(`Running for element number ${i}`);
			let songId = this.id.split("--")[1];
			let songDivId = "#song-div--" + songId;
			let removeFavoriteSpanId = "#remove-favorite-span--" + songId;
            console.log(`| Song Id: ${songId}`);
            var xhr = new XMLHttpRequest();
            xhr.open('PUT', `/Profiles/RemoveFavoriteSong?songId=${songId}`);
            xhr.send();
            xhr.onload = function() {
				if (xhr.status != 200) {
					console.log(`Error ${xhr.status}: ${xhr.statusText}`);
				} else {
					console.log(`Removed song with id ${songId}`);
					document.querySelector(songDivId).remove();
				}
			};
		});
	}
    
    
    eval("@if ((TempData.ContainsKey("Follow")))
    {
        var text = "let domChange = document.getElementById('FollowUpButton');domChange.onmouseover = function() {domChange.classList.replace('bi-person-check', 'bi-person-dash');};domChange.onmouseout = function() {domChange.classList.replace('bi-person-dash', 'bi-person-check');};";
        @text
    }".replaceAll('&#x27;', "'"));
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
