@using Microsoft.Extensions.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Home Page";
    var isUserLogged = User.Identity.IsAuthenticated;
}

<div class="mb-2">
    <div>
        <!-- Top image with texts -->
        <div class="row">
            <div class="col-12 position-relative">
                <img src="https://i.ibb.co/30r2VC4/288-2884863-black-acoustic-guitar-id-guitar-black-and-white.jpg" alt="Tidbeat Logo" class="img-fluid w-100 shadow-lg" style="filter: brightness(50%) drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));">
                <div class="position-absolute text-center" style="top: 50%; transform: translateY(-50%);">
                    <div class="d-flex justify-content-center">
                        <div class="mx-1 text-left" style="margin-right: 400px;">
                            <span class="text-white" style="font-size: 32px; font-weight: 600;">@Localizer["welcome_banner"]<br> @Localizer["welcome_banner1"]</span>
                        </div>
                        <div class="mx-7 text-right pointer-active" style="margin-left: 400px;" onclick="@(isUserLogged ? "" : "window.location.href='/Identity/Account/Register';")">
                            <span class="text-white font-weight-bold text-black-hover" style="font-size: 24px;">@Localizer["register_now_banner"]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- Why use Tidbeat? - title -->
            <div class="col-md-12 pt-5">
                <h2 class="text-center" style="font-size: 24px; font-weight: bold;">@Localizer["why_use_tidbeat"]</h2>
            </div>
        </div>


        <!-- Three boxes with information text -->
        <div class="row justify-content-center">
            <div class="col-md-2 pt-5">
                <div class="card">
                    <div class="card-body hover-background-grey pointer-active" style="border: 1.5px solid black;" onclick="window.location.href='/Songs';" ;>
                        <h4 class="card-title" style="color: black; font-weight: bold;">1</h4>
                        <p class="card-text" style="color: #6610F2; font-weight: bold;">@(Localizer["acess_to_thousands"])</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pt-5">
                <div class="card">
                    <div class="card-body hover-background-grey pointer-active" style="border: 1.5px solid black;" onclick="window.location.href='/Posts';">
                        <h4 class="card-title" style="color: black; font-weight: bold;">2</h4>
                        <p class="card-text" style="color: #6610F2; font-weight: bold;">@Localizer["exchange_ideas"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pt-5">
                <div class="card">
                    <div class="card-body hover-background-grey pointer-active" style="border: 1.5px solid black;" onclick="window.location.href='/Posts';" ;>
                        <h4 class="card-title" style="color: black; font-weight: bold;">3</h4>
                        <p class="card-text" style="color: #6610F2; font-weight: bold;">@Localizer["community_with_thousands"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
