@using Microsoft.Extensions.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Home Page";
    var isUserLogged = User.Identity.IsAuthenticated;
}

<!-- SideBar -->
<div>
    @{
        await Html.RenderPartialAsync("_Sidebar");
    }
</div>

<div class="mb-2">
    <div class="container-fluid">
        <!-- Top image with texts -->
        <div class="row mt-5">
            <div class="col-12 position-relative px-0">
                <img src="https://i.ibb.co/30r2VC4/288-2884863-black-acoustic-guitar-id-guitar-black-and-white.jpg" alt="Tidbeat Logo" class="img-fluid w-100 shadow-lg" style="filter: brightness(50%) drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));">
                <div class="position-absolute text-center w-100" style="top: 50%; transform: translateY(-50%);">
                    <div class="d-flex justify-content-between">
                        <div class="mx-1 text-left">
                            <span class="text-white" style="font-size: 2.5vw; font-weight: 600;">@Localizer["welcome_banner"]<br> @Localizer["welcome_banner1"]</span>
                        </div>
                        <div class="d-flex flex-column">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <div class="text-right pointer-active me-4" onclick="@(isUserLogged ? "" : "window.location.href='/Identity/Account/Register';")">
                                    <span class="text-white font-weight-bold text-black-hover me-2" style="font-size: 2.5vw;">@Localizer["register_now_banner"]</span>
                                </div>
                            }
                            <div class="d-flex text-white fs-4 text-center justify-content-center mt-4 me-4">
                                <div class="text-white fw-bold">@ViewBag.RegisteredDailyUsers</div>&nbsp;@Localizer["users_registered_in_the_last_24_hours"]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- Why use Tidbeat? - title -->
            <div class="col-md-12 pt-5">
                <h2 class="text-center" style="font-size: 24px; font-weight: bold;">@Localizer["why_use_tidbeat"]</h2>
            </div>
        </div>


        <!-- Three boxes with information text -->
        <div class="row justify-content-center">
            <div class="col-md-2 pt-5">
                <div class="card">
                    <div class="card-body hover-background-grey pointer-active" style="border: 1.5px solid black;" onclick="window.location.href='/Songs';" ;>
                        <h4 class="card-title" style="color: black; font-weight: bold;">1</h4>
                        <p class="card-text" style="color: #6610F2; font-weight: bold;">@(Localizer["acess_to_thousands"])</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pt-5">
                <div class="card">
                    <div class="card-body hover-background-grey pointer-active" style="border: 1.5px solid black;" onclick="window.location.href='/Posts';">
                        <h4 class="card-title" style="color: black; font-weight: bold;">2</h4>
                        <p class="card-text" style="color: #6610F2; font-weight: bold;">@Localizer["exchange_ideas"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pt-5">
                <div class="card">
                    <div class="card-body hover-background-grey pointer-active" style="border: 1.5px solid black;" onclick="window.location.href='/Users';" ;>
                        <h4 class="card-title" style="color: black; font-weight: bold;">3</h4>
                        <p class="card-text" style="color: #6610F2; font-weight: bold;">@Localizer["community_with_thousands"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
