@model SpotifyAPI.Web.FullArtist
@using Tidbeat.Services
@using SpotifyAPI.Web
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = "Details";
    var imageUrl = Model.Images.Count != 0 ? Model.Images[0].Url : "../../images/Empty_Artist_Image.png";
    var spotifyPageURL = SpotifyService.UrlBand + Model.Id;
    List<Post> allPosts = ViewBag.posts;
}

<div>
    @{
        await Html.RenderPartialAsync("_Sidebar");
    }
</div>

<!--All music info goes here-->
<div class="container-fluid row w-100 d-flex flex-column flex-lg-row mx-0">
    <div class="d-flex flex-column col-lg-6 col-md-12 vh-100-minus-navbar border-lg-end pe-1">
        <div class="mt-5 pt-5 mb-3 d-flex flex-column align-items-center justify-content-center justify-content-lg-start">
            <h4 class="ms-2 text-dark fw-bold">@Localizer["band_artist"]:</h4>
            <div class="text-primary fw-bold"> @Model.Name</div>
        </div>
        <hr/>
        <div class="d-flex flex-column flex-xl-row justify-content-lg-start align-items-center">
            <a href="@spotifyPageURL" target="_blank">
                <img src="@imageUrl" height="200" class="btn btn-outline-primary border-0 p-1" />
            </a>
            <div class="ms-2 text-start w-100">
                <div class="d-flex flex-column text-start mb-3">
                    <div class="text-dark fw-bold">@Localizer["top_3"]:</div>
                    @foreach (FullTrack track in ViewBag.top3Songs) {
                        <div class="d-flex flex-row w-50">
                            <a href=@Url.Action("Details", "Songs", new { id = track.Id }) class="text-nowrap overflow-hidden text-truncate text-primary fw-bold ps-2">@track.Name</a>
                        </div>
                    }
                </div>
                <hr/>
                <div class="d-flex flex-row">
                    <div class="text-dark fw-bold">@Localizer["followers"]:</div>
                    <div class="text-primary ms-2">@Model.Followers.Total</div>
                </div>
                <div class="d-flex flex-row">
                    <div class="text-dark fw-bold">@Localizer["released_albums"]:</div>
                    <div class="text-primary ms-2">@ViewBag.albumAmount</div>
                </div>
            </div>
        </div>
        <hr style="height: 1px"/>
        <div class="d-flex align-items-lg-start flex-column mt-1">
            <div>@Localizer["post_amount"]: 0</div>
        </div>
        
    </div>

    <!--All posts goes here-->
    <div class="col-lg-6 col-md-12 mt-5 pt-5 scrollable-posts">
        <div class="d-flex justify-content-center mb-2 flex-column">
            <div class="fs-3 me-4">@Localizer["posts"]</div>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="bottom-0 end-0 post-btn-center-lg me-4 mb-4 btn btn-primary" asp-controller="Posts" asp-action="Create" asp-route-Idband="@Model.Id">
                    @Localizer["create_post"]
            </a>
            }
        </div>
        @if (allPosts.Count == 0) {
            <div>@Localizer["no_posts"]</div>
            <img src="~/images/NoPostsImage.png" height="120" class="mt-5" />
        }
        @foreach (Post post in allPosts) {
            <a class="text-decoration-none text-black" href="@Url.Action("Details", "Posts", new { id = post.PostId })">
                <div class="d-flex align-items-center border-2 border-primary p-1 rounded mb-2 hover-background-grey" style="box-shadow: 0 8px 15px -8px rgba(0, 0, 0, 0.4);">
                    <div class="border-end border-2 border-primary pe-2">
                        <div>
                        @if (post.User.Email == Configurations.InvalidUser.Email) {
                            @Localizer["[deleted]"]
                        }
                        else {
                            string personName = post.User.FirstAndLastName();
                            if (personName.Length > 15) {
                                personName = personName.Substring(0, 15);
                                personName += "...";
                            }
                            @personName
                        }
                        </div>
                        <div class="fs-7">@Localizer["created_in"]: @post.CreationDate.Date.ToString("dd/MM/yyyy")</div>
                    </div>
                    <div class="ms-2">@post.Title</div>
                </div>
            </a>
            }
    </div>
</div>
