@model SpotifyAPI.Web.FullArtist
@using Tidbeat.Services
@using SpotifyAPI.Web

@{
    ViewData["Title"] = "Details";
    var imageUrl = Model.Images.Count != 0 ? Model.Images[0].Url : "../../images/Empty_Artist_Image.png";
    var spotifyPageURL = SpotifyService.UrlBand + Model.Id;
    List<Post> allPosts = ViewBag.posts;
}

<!--All music info goes here-->
<div class="container-fluid row w-100 d-flex flex-column flex-lg-row mx-0">
    <div class="d-flex flex-column col-lg-4 col-12">
        <div class="mt-5 pt-5 mb-3 d-flex align-items-center justify-content-center justify-content-lg-start">
            <h4 class="d-flex ms-2">Banda/Artista: @Model.Name</h4>
        </div>
        <div class="d-flex flex-column flex-xl-row justify-content-lg-start align-items-center">
            <a href="@spotifyPageURL" target="_blank">
                @if (Model.Images.Count > 0)
                {
                    <img src="@imageUrl" height="200" />
                } else {
                    <img src="@imageUrl" height="200" />
                }
            </a>
            <div class="ms-2 text-start w-100">
                <div class="d-flex flex-column text-start mb-3">
                    <div>Top 3 de Músicas:</div>
                    @foreach (FullTrack track in ViewBag.top3Songs) {
                        <div class="d-flex flex-row w-50">
                            <a href=@Url.Action("Details", "Songs", new { id = track.Id }) class="text-nowrap overflow-hidden text-truncate">@track.Name</a>
                        </div>
                    }
                </div>
                <div>@Model.Followers.Total Seguidores</div>
                <div>Álbuns lançados: @ViewBag.albumAmount</div>
            </div>
        </div>
        <div class="d-flex align-items-lg-start flex-column mt-5">
            <div>Número de posts sobre esta banda: 0</div>
        </div>
        
    </div>

    <!--All posts goes here-->
    <div class="col-lg-8 col-12 mt-5 pt-5 scrollable-posts">
        <div class="d-flex justify-content-center mb-2">
            <div class="fs-3 me-4">Posts</div>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-primary" asp-controller="Posts" asp-action="Create" asp-route-Idband="@Model.Id">
                    Criar Post
            </a>
            }
        </div>
        @if (allPosts.Count == 0) {
            <div>Não há posts... seja o primeiro a criar um post sobre esta banda!</div>
            <img src="~/images/NoPostsImage.png" height="120" class="mt-5" />
        }
        @foreach (Post post in allPosts) {
            <div class="d-flex align-items-center border border-2 border-primary p-1 rounded mb-2">
                <div class="border-end border-2 border-primary pe-2">
                    <div>@post.User.FullName</div>
                    <div>Utilizador</div>
                </div>
                <div class="ms-2">@post.Title</div>
            </div>
            }
    </div>
</div>
