@model Tidbeat.Models.Conversation
@using Tidbeat.Enums
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Details";
    var messageIndex = 0;
    var mostRecentCurrentUserMessageIndex = 0;
    foreach (var message in ViewBag.Messages)
    {
        if (message.User.Id == ViewBag.CurrentUser.Id)
        {
            mostRecentCurrentUserMessageIndex = messageIndex;
        }
        messageIndex++;
    }
    messageIndex = 0;
    var currentUserName = ViewBag.CurrentUser.FirstName();
    var otherUserName = ViewBag.OtherUser.FirstName();
}

<div>
    @{
        await Html.RenderPartialAsync("_Sidebar");
    }
</div>

<h1>Detalhes</h1>

<h2 class="user-info">
    <div class="arrow-icon d-flex align-items-center mt-3">
        <a href="@Url.Action("Index", "Conversations")" title="@Localizer["back_to_conversations"]">
            <i class="bi bi-arrow-left-circle fs-1 me-5 mb-5"></i>
        </a>
    </div>
    <div>
        <div class="d-flex flex-row mb-1">
            <div id="current-user-connection-status" class="spinner-border spinner-border-sm text-primary fs-7 me-1"></div>
            <div id="current-user-connection-status-name" class="fs-6">@Localizer["connecting"]</div>
        </div>
        <a href="@Url.Action("Details", "Profiles", new { id = ViewBag.CurrentUser.Id })">
            <img src="@((!String.IsNullOrEmpty(ViewBag.CurrentUser.ImagePath) ? ViewBag.CurrentUser.ImagePath : "/images/UnknownUser.jpg"))" alt="@ViewBag.CurrentUser.FullName" title="@Localizer["view_user_profile"]" width="100" height="100" />
        </a>
        <p>@ViewBag.CurrentUser.FullName</p>
    </div>
    <div class="arrow mb-4">&gt;</div>
    <div>
        <div class="d-flex flex-row">
            <div id="other-user-circle-online-status" class="bi bi-circle text-danger fs-6 me-1"></div>
            <div id="other-user-online-status-name" class="fs-6">Offline</div>
        </div>
        <a href="@Url.Action("Details", "Profiles", new { id = ViewBag.OtherUser.Id })">
            <img src="@((!String.IsNullOrEmpty(ViewBag.OtherUser.ImagePath) ? ViewBag.OtherUser.ImagePath : "/images/UnknownUser.jpg"))" alt="@ViewBag.OtherUser.FullName" title="@Localizer["view_user_profile"]" width="100" height="100" />
        </a>
        <p>@ViewBag.OtherUser.FullName</p>
    </div>
</h2>

<div class="container">
    <div id="connection-loading">
        <div class="spinner-border text-primary fs-4" role="status" style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="text-primary fs-5 mt-3">@Localizer["loading_if_it_takes_too_long_refresh"]</div>
    </div>
    <div id="messages" class="d-none" style="background-color: whitesmoke; ">
        <div>
            <button type="button" id="getRecentMessagesButton" class="@(ViewBag.Messages.Count >= 20 ? "" : "d-none")">@Localizer["more_messages"]</button>
            <span id="getMoreMessagesButtonSpinner" class="spinner-border spinner-border-sm text-primary d-none" role="status" aria-hidden="true"></span>
        </div>
        @foreach (var message in ViewBag.Messages)
        {
            @if (message.User.Id == ViewBag.CurrentUser.Id)
            {
                @if (messageIndex == mostRecentCurrentUserMessageIndex)
                {
                    <div data-message-id="@message.Id" class="message-entry">
                        <div class="message-avatar pull-right">@currentUserName</div>
                        <div class="delete-message-button bi bi-trash-fill text-danger pull-right btn hover-background-grey p-0 px-1"></div>
                        <div class="edit-message-button bi bi-pencil-fill text-primary pull-right btn hover-background-grey p-0 px-1"></div>
                        <div class="cancel-message-button bi bi-x text-danger btn hover-background-grey pull-right p-0 px-1 d-none"></div>
                        <div class="save-message-button bi bi-check text-success btn hover-background-grey pull-right p-0 px-1 d-none"></div>
                        <div class="d-flex flex-column pull-right position-relative">
                            <textarea type="text" class="message-content-input message-content pull-right border-0 text-wrap pb-3" style="max-width: 400px;" value="@message.Text" readonly>@message.Text</textarea>
                            <div class="saved-content-temp d-none"></div>
                            <div id="status-message" class="pull-right text-end">@((message.Status == (int)MessageStatus.Sent) ? "Enviado" : "Lido")</div>
                            <div id="message-date" class="fs-7 text-light-grey position-absolute end-0 pe-3" style="bottom: 25px">@message.Created.ToString("dd/MM/yyyy HH:mm")</div>
                        </div>
                    </div>
                }
                else
                {
                    <div data-message-id="@message.Id" class="message-entry">
                        <div class="message-avatar pull-right">@currentUserName</div>
                        <div class="delete-message-button bi bi-trash-fill text-danger pull-right btn hover-background-grey p-0 px-1"></div>
                        <div class="edit-message-button bi-pencil-fill text-primary pull-right btn hover-background-grey p-0 px-1"></div>
                        <div class="cancel-message-button bi bi-x text-danger btn hover-background-grey pull-right p-0 px-1 d-none"></div>
                        <div class="save-message-button bi bi-check text-success btn hover-background-grey pull-right p-0 px-1 d-none"></div>
                        <div class="pull-right position-relative">
                            <textarea type="text" class="message-content-input message-content pull-right border-0 " style="max-width: 400px;" value="@message.Text" readonly>@message.Text</textarea>
                            <div class="saved-content-temp d-none"></div>
                            <div id="message-date" class="fs-7 text-light-grey position-absolute end-0 pe-3" style="bottom: 2px">@message.Created.ToString("dd/MM/yyyy HH:mm")</div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div data-message-id="@message.Id" class="other-user-message-entry message-entry">
                    <div class="message-avatar pull-left">@otherUserName</div>
                    <div class="text-start message-content-otheruser pull-left pb-3 position-relative" style="max-width: 400px; min-width: 150px">
                        <div>@message.Text</div>
                        <div id="message-date" class="fs-7 position-absolute pe-3 text-black bottom-0" style="bottom: 25px">@message.Created.ToString("dd/MM/yyyy HH:mm")</div>
                    </div>
                </div>
            }
            messageIndex++;
        }
    </div>

    <div id="full-message-input-area" class="d-none" style="display: flex; justify-content: space-between; align-items: center; margin-top: 5px;">
        <textarea id="message"
                  style="width: 100%; padding: 5px 10px; border: 2px solid black; border-radius: 8px; "
                  placeholder="@Localizer["type_message_and_press_enter"]"></textarea>
        <div style="margin-left: 10px;">
            <button class="btn-success" id="sendmessage" title="Enviar mensagem">
                <i class="bi bi-chat-left-text"></i>
            </button>
        </div>
    </div>

</div>

<input id="delete-message-id-input" type="hidden" />

<div id="delete-message-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="bi bi-trash-fill text-danger fs-5 me-2"></div>
                <h5 class="modal-title text-danger">Delete Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-danger">Are you sure you want to delete that message?</p>
                <div class="float-end">
                    <button id="delete-message-modal-button-yes" type="button" class="btn text-danger" style="border: thick solid #DC3545; border-width: 3px">Yes</button>
                    <button type="button" class="btn bg-danger text-white" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal alert alert-danger fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-danger"><strong style="font-size: 1.5em;">@Localizer["connection_error"]</strong></div>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center">
                <div class="text-danger">@Localizer["hit_refresh_f5"] @Localizer["to_rejoin"]</div>
                <button class="btn btn-danger bg-danger text-white mt-2" onclick="(() => location.reload())()">@Localizer["refresh"]</button>
            </div>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.4/signalr.min.js" integrity="sha512-ulHhwQdGlX96gNSRsakG06STFdaQBUTbCX4KqLcYI428blEsttMkg2C3n2KtiYNDwnETBHXDg9ZAtvkfMHTYOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        toggleMessageInput('@Localizer["connecting_to_conversation"]');
        const generateRandomName = () =>
            Math.random().toString(36).substring(2, 10);

        let username = generateRandomName();
        const promptMessage = 'Enter your name:';
        do {
            username = "@ViewBag.CurrentUser.FullName";
            if (!username || username.startsWith('_') || username.indexOf('<') > -1 || username.indexOf('>') > -1) {
                username = '';
                promptMessage = 'Invalid input. Enter your name:';
            }
        } while (!username)

        const messageInput = document.getElementById('message');
        messageInput.focus();

        function createMessageEntry(encodedUserId, encodedMsg) {
            var entry = document.createElement('div');
            let statusMessage = document.getElementById('status-message');
            entry.classList.add("message-entry");
            const dateNow = new Date();
            const formattedDateNow = convertDateObjectToFormatted(dateNow);
            if (encodedUserId === "_SYSTEM_") {
                //entry.innerHTML = encodedMsg;
                //entry.classList.add("text-center");
                //entry.classList.add("system-message");

            } else if (encodedUserId === "_BROADCAST_") {
                entry.classList.add("text-center");
                entry.innerHTML = `<div class="text-center broadcast-message">${encodedMsg}</div>`;
            } else if (encodedUserId === '@ViewBag.CurrentUser.Id') {
                if (statusMessage) {
                    statusMessage.remove();
                }
                entry.innerHTML = rightMessage(encodedMsg, '@currentUserName', @((int)MessageStatus.Sent), formattedDateNow);
            } else {
                entry.classList.add("other-user-message-entry");
                entry.innerHTML = `<div class="message-avatar pull-left">@(otherUserName)</div>` +
                    `<div class="text-start message-content-otheruser pull-left pb-3 position-relative" style="max-width: 400px; min-width: 150px;">
                        <div>${encodedMsg}</div>
                        <div id="message-date" class="fs-7 position-absolute pe-3 text-black bottom-0" style="bottom: 25px">${formattedDateNow}</div>
                    <div>`;
            }
            return entry;
        }

        function convertDateObjectToFormatted(date) {
            const day = date.getDate().toString().padStart(2, '0');
            const month = (date.getMonth() + 1).toString().padStart(2, '0');
            const year = date.getFullYear();
            const hours = date.getHours().toString().padStart(2, '0');
            const minutes = date.getMinutes().toString().padStart(2, '0');
            return `${day}/${month}/${year} ${hours}:${minutes}`;
        }

        function bindConnectionMessage(connection) {
            var messageCallback = function (userId, message) {
                if (!message) return;
                //var encodedName = name;
                var encodedMsg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
                var messageEntry = createMessageEntry(userId, encodedMsg);

                let statusMessage = document.getElementById('status-message');

                var messageBox = document.getElementById('messages');
                messageBox.appendChild(messageEntry);
                messageBox.scrollTop = messageBox.scrollHeight;
                connection.send('setSeenMessages', '@Model.Id', '@ViewBag.OtherUser.Id');
                setOtherUsersMessageToSeenInDatabase();
            };
            var seenCallback = function (userId) {
                if (userId === '@ViewBag.CurrentUser.Id') {
                    let statusMessage = document.getElementById('status-message');
                    if (statusMessage) {
                        statusMessage.innerHTML = "Lido";
                    }
                }
            };
            var editMessageCallback = function (messageId, newText) {
                let message = document.querySelector(`[data-message-id="${messageId}"]`);
                if (message) {
                    let messageContent = message.querySelector('.message-content-otheruser');
                    if (messageContent) {
                        messageContent.textContent = newText;
                    }
                }
            }
            var deleteMessageCallback = function (messageId) {
                let message = document.querySelector(`[data-message-id="${messageId}"]`);
                if (message) {
                    message.remove();
                }
            };
            var addMessageIdCallback = function (messageId, userId) {
                if (userId === '@ViewBag.CurrentUser.Id') return;
                const allMessages = document.getElementById('messages');
                const allDirectChildren = allMessages.children;
                const latestChildWithoutClass = Array.from(allDirectChildren).reverse().find(child => child.classList.contains('other-user-message-entry'));
                latestChildWithoutClass.setAttribute('data-message-id', messageId);
            }
            var setOnlineStatusCallback = function (currentUserId, hasCheckOthersOnlineStatus) {
                if (currentUserId === '@ViewBag.OtherUser.Id') {
                    let otherUserOnlineStatusName = document.getElementById('other-user-online-status-name');
                    let otherUserCircleOnlineStatus = document.getElementById('other-user-circle-online-status');
                    if (otherUserCircleOnlineStatus.classList.contains('bi-circle')) {
                        otherUserCircleOnlineStatus.classList.remove('bi-circle');
                        otherUserCircleOnlineStatus.classList.add('bi-circle-fill');
                        otherUserCircleOnlineStatus.classList.remove('text-danger');
                        otherUserCircleOnlineStatus.classList.add('text-success');
                        otherUserOnlineStatusName.innerHTML = 'Online';
                    }
                    if (!hasCheckOthersOnlineStatus) {
                        connection.send('setOnlineStatus', '@Model.Id', '@ViewBag.CurrentUser.Id', true);
                    }
                }
            };
            var setOfflineStatusCallback = function (currentUserId) {
                if (currentUserId === '@ViewBag.OtherUser.Id') {
                    let otherUserOnlineStatusName = document.getElementById('other-user-online-status-name');
                    let otherUserCircleOnlineStatus = document.getElementById('other-user-circle-online-status');
                    if (otherUserCircleOnlineStatus.classList.contains('bi-circle-fill')) {
                        otherUserCircleOnlineStatus.classList.remove('bi-circle-fill');
                        otherUserCircleOnlineStatus.classList.add('bi-circle');
                        otherUserCircleOnlineStatus.classList.remove('text-success');
                        otherUserCircleOnlineStatus.classList.add('text-danger');
                        otherUserOnlineStatusName.innerHTML = 'Offline';
                    }
                }
            }
            connection.on('broadcastMessage', messageCallback);
            connection.on('setSeenMessages', seenCallback);
            connection.on('editMessage', editMessageCallback);
            connection.on('deleteMessage', deleteMessageCallback);
            connection.on('addMessageId', addMessageIdCallback);
            connection.on('setOnlineStatus', setOnlineStatusCallback);
            connection.on('setOfflineStatus', setOfflineStatusCallback);
            connection.onclose(onConnectionError);
        }

        function setOtherUsersMessageToSeenInDatabase() {
            fetch('/Conversations/SetUsersMessagesToSeen', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    userId: '@ViewBag.OtherUser.Id',
                    conversationId: '@Model.Id'
                })
            })
        }

        function saveMessageInDb(message) {
            fetch('/Conversations/SaveMessage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    text: message,
                    userId: '@ViewBag.CurrentUser.Id',
                    conversationId: '@Model.Id'
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                }).then(finalResponse => {
                    const allMessages = document.getElementById('messages');
                    const allDirectChildren = allMessages.children;
                    connection.send('addMessageId', '@Model.Id', finalResponse['messageId'], '@ViewBag.CurrentUser.Id');
                    setTimeout(() => {
                        const latestChildWithoutClass = Array.from(allDirectChildren).reverse().find(child => !child.classList.contains('other-user-message-entry'));
                        latestChildWithoutClass.setAttribute('data-message-id', finalResponse['messageId']);

                        addOnTextSizeChangeToTextAreas();
                        addOnClickToDeleteButtons();
                        addOnClickToEditButtons();
                        addOnClickToSaveButtons();
                        addOnClickToCancelButtons();

                        toggleMessageInput();
                    }, 200);
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

        function editMessageInDb(messageId, text) {
            fetch('/Conversations/EditMessage', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    messageId: messageId,
                    text: text,
                    userId: '@ViewBag.CurrentUser.Id'
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                })
                .then(data => {
                    //console.log(data); // success response from server
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

        function deleteMessageFromDb(messageId) {
            fetch('/Conversations/DeleteMessage', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    messageId: messageId,
                    userId: '@ViewBag.CurrentUser.Id'
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                })
                .then(data => {
                    //console.log(data); // success response from server
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

        function onClickDeleteModal(event) {
            let deleteMessageIdInput = document.getElementById('delete-message-id-input');
            let messageId = parseInt(deleteMessageIdInput.value, 10);
            connection.send('deleteMessage', '@Model.Id', messageId);
            deleteMessageFromDb(messageId);
            $("#delete-message-modal").modal('hide');
        }

        function onClickDelete(event) {
            var messageId = parseInt(event.target.parentElement.getAttribute('data-message-id'), 10);
            let deleteMessageIdInput = document.getElementById('delete-message-id-input');
            deleteMessageIdInput.value = messageId;
            $("#delete-message-modal").modal('show');
            
            event.preventDefault();
        }

        function addOnClickToDeleteButtons() {
            var allDeleteButtons = document.getElementsByClassName('delete-message-button');
            for (var i = 0; i < allDeleteButtons.length; i++) {
                allDeleteButtons[i].addEventListener('click', onClickDelete);
            }
            var deleteButtonModal = document.getElementById('delete-message-modal-button-yes');
            deleteButtonModal.addEventListener('click', onClickDeleteModal);
        }

        function onClickEdit(event) {
            var messageId = parseInt(event.target.parentElement.getAttribute('data-message-id'), 10);
            console.log(messageId);
            var message = document.querySelector(`[data-message-id="${messageId}"]`);
            console.log(message);
            var savedContentTemp = message.querySelector(`.saved-content-temp`);
            savedContentTemp.textContent = message.querySelector(`.message-content-input`).value;
            toggleEditMode(messageId);
            event.preventDefault();
        }

        function addOnClickToEditButtons() {
            var allEditButtons = document.getElementsByClassName('edit-message-button');
            for (var i = 0; i < allEditButtons.length; i++) {
                allEditButtons[i].addEventListener('click', onClickEdit);
            }
        }

        function onClickSave(event) {
            var messageId = parseInt(event.target.parentElement.getAttribute('data-message-id'), 10);
            var message = document.querySelector(`[data-message-id="${messageId}"]`);
            var savedContentTemp = message.querySelector(`.saved-content-temp`);
            savedContentTemp.textContent = "";
            var messageInput = message.querySelector(`.message-content-input`);
            connection.send("editMessage", '@Model.Id', messageId, messageInput.value);
            editMessageInDb(messageId, messageInput.value);
            toggleEditMode(messageId);
            event.preventDefault();
        }

        function addOnClickToSaveButtons() {
            var allSaveButtons = document.getElementsByClassName('save-message-button');
            for (var i = 0; i < allSaveButtons.length; i++) {
                allSaveButtons[i].addEventListener('click', onClickSave);
            }
        }

        function onClickCancel(event) {
            var messageId = parseInt(event.target.parentElement.getAttribute('data-message-id'), 10);
            var message = document.querySelector(`[data-message-id="${messageId}"]`);
            var messageInput = message.querySelector(`.message-content-input`);
            var savedContentTemp = message.querySelector(`.saved-content-temp`);
            messageInput.value = savedContentTemp.textContent;

            savedContentTemp.textContent = "";
            toggleEditMode(messageId);
            event.preventDefault();
        }

        function addOnClickToCancelButtons() {
            var allCancelButtons = document.getElementsByClassName('cancel-message-button');
            for (var i = 0; i < allCancelButtons.length; i++) {
                allCancelButtons[i].addEventListener('click', onClickCancel);
            }
        }

        function onChangeTextSize(event) {
            this.style.height = (this.scrollHeight) + "px";
        }

        function addOnTextSizeChangeToTextAreas() {
            let messageContentInput = document.getElementsByClassName("message-content-input");
            for (let i = 0; i < messageContentInput.length; i++) {
                messageContentInput[i].style.height = (messageContentInput[i].scrollHeight) + "px";
                messageContentInput[i].addEventListener("change", onChangeTextSize);
            }
        }

        function toggleEditMode(messageId) {
            var message = document.querySelector(`[data-message-id="${messageId}"]`);
            var messageContent = message.querySelector('.message-content');
            var messageContentInput = message.querySelector('.message-content-input');
            var editButton = message.querySelector('.edit-message-button');
            var deleteButton = message.querySelector('.delete-message-button');
            var saveButton = message.querySelector('.save-message-button');
            var cancelButton = message.querySelector('.cancel-message-button');
            if (messageContentInput.readOnly) {
                messageContentInput.readOnly = false;
                messageContentInput.focus();
                messageContentInput.selectionStart = messageContentInput.value.length;
                messageContentInput.selectionEnd = messageContentInput.value.length;
                editButton.style.display = 'none';
                deleteButton.style.display = 'none';
                saveButton.classList.remove('d-none');
                cancelButton.classList.remove('d-none');
            } else {
                messageContentInput.readOnly = true;
                editButton.style.display = 'inline-block';
                saveButton.classList.add('d-none');
                cancelButton.classList.add('d-none');
                deleteButton.style.display = 'inline-block';
            }
        }

        function toggleMessageInput(blockedMessage) {
            var messageInput = document.getElementById('message');
            var sendMessageButton = document.getElementById('sendmessage');
            if (messageInput.disabled) {
                messageInput.disabled = false;
                sendMessageButton.disabled = false;
                messageInput.placeholder = '@Localizer["type_message_and_press_enter"]';
                messageInput.style.backgroundColor = 'white';
                messageInput.focus();
            } else {
                messageInput.disabled = true;
                sendMessageButton.disabled = true;
                setTimeout(() => messageInput.placeholder = blockedMessage, 0);
                //messageInput.placeholder = blockedMessage;
                messageInput.style.backgroundColor = 'rgb(209, 209, 209)';
            }
        }

        function toggleConnectionLoading() {
            var allMessages = document.getElementById('messages');
            var fullMessageInputArea = document.getElementById('full-message-input-area');
            var connectionLoading = document.getElementById('connection-loading');
            if (allMessages.classList.contains('d-none')) {
                allMessages.classList.remove('d-none');
                fullMessageInputArea.classList.remove('d-none');
                connectionLoading.classList.add('d-none');
            } else {
                allMessages.classList.add('d-none');
                fullMessageInputArea.classList.add('d-none');
                connectionLoading.classList.remove('d-none');
            }
        }

        function onConnected(connection) {
            console.log('connection started');
            connection.send('joinChat', '@Model.Id');
            //connection.send('broadcastMessage', '@Model.Id', '_SYSTEM_', username);
            connection.send('setOnlineStatus', '@Model.Id', '@ViewBag.CurrentUser.Id', false);
            connection.send('setSeenMessages', '@Model.Id', '@ViewBag.OtherUser.Id');
            setOtherUsersMessageToSeenInDatabase();
            document.getElementById('sendmessage').addEventListener('click', function (event) {
                if (messageInput.value) {
                    toggleMessageInput('@Localizer["almost_done_with_sending"]');
                    connection.send('broadcastMessage', '@Model.Id', '@ViewBag.CurrentUser.Id', messageInput.value);
                    saveMessageInDb(messageInput.value);
                }

                messageInput.value = '';
                messageInput.focus();
                event.preventDefault();
            });
            document.getElementById('message').addEventListener('keypress', function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById('sendmessage').click();
                    return false;
                }
            });

            addOnClickToDeleteButtons();
            addOnClickToEditButtons();
            addOnClickToSaveButtons();
            addOnClickToCancelButtons();

            toggleMessageInput();
            toggleConnectionLoading();
            addOnTextSizeChangeToTextAreas();
            messagesContainer.scrollTop = messagesContainer.scrollHeight;

            let currentUserConnectionStatus = document.getElementById('current-user-connection-status');
            currentUserConnectionStatus.classList.remove('spinner-border');
            currentUserConnectionStatus.classList.remove('spinner-border-sm');
            currentUserConnectionStatus.classList.remove('text-primary');
            currentUserConnectionStatus.classList.remove('me-1');
            currentUserConnectionStatus.classList.remove('fs-7');
            currentUserConnectionStatus.classList.add('text-success');
            currentUserConnectionStatus.classList.add('bi-check');
            currentUserConnectionStatus.classList.add('fs-5');
            
            let currentUserConnectionStatusName = document.getElementById('current-user-connection-status-name');
            currentUserConnectionStatusName.innerText = '@Localizer["connected"]';
        }

        function onConnectionError(error) {
            //connection.send("setOfflineStatus", '@Model.Id', '@ViewBag.CurrentUser.Id');
            if (error && error.message) {
                console.error(error.message);
            }
            //connection.send('leaveChat', '@Model.Id');
            $('#myModal').modal('show');
            //var modal = document.getElementById('myModal');
            //modal.classList.add('in');
            //modal.style = 'display: block;';
            
        }

        const connection = new signalR.HubConnectionBuilder()
            .withUrl('/chat')
            .build();
        bindConnectionMessage(connection);
        connection.start()
            .then(() => onConnected(connection))
            .catch(error => console.error(error.message));

        const getRecentMessagesButton = document.getElementById('getRecentMessagesButton');
        const messagesContainer = document.getElementById('messages');
        var skipAmount = @ViewBag.Messages.Count;

        getRecentMessagesButton.addEventListener('click', async () => {
            let getMoreMessagesButtonSpinner = document.getElementById('getMoreMessagesButtonSpinner');
            getMoreMessagesButtonSpinner.classList.remove('d-none');
            try {
                const conversationId = "@Model.Id";
                const messageAmount = @ViewBag.MessageAmountPerCall;

                const response = await fetch('/Conversations/GetRecentMessages', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        conversationId: conversationId,
                        messageAmount: messageAmount,
                        skipAmount: skipAmount
                    })
                });

                if (!response.ok) {
                    throw new Error('Error getting recent messages.');
                }

                const messages = await response.json();
                getMoreMessagesButtonSpinner.classList.add('d-none');
                console.log(messages);
                skipAmount += messages.length;
                updateMessagesContainer(messages);
            } catch (error) {
                console.error(error);
            }
        });

        function updateMessagesContainer(messages) {
            let messageIndex = 0;
            let statusMessage = document.getElementById('status-message');
            let statusMessageAlreadyExists = statusMessage !== null;

            let mostRecentMessageIndex = -1;
            for (let i = 0; i < messages.length; i++) {
                if (messages[i].user.id === "@ViewBag.CurrentUser.Id" && mostRecentMessageIndex == -1) {
                    mostRecentMessageIndex = i;
                }
            }

            const containerScrollTop = messagesContainer.scrollTop;
            const containerScrollHeight = messagesContainer.scrollHeight;
            const containerHeight = messagesContainer.offsetHeight;

            messages.forEach((message) => {
                const messageElement = document.createElement('div');
                messageElement.classList.add("message-entry");
                messageElement.setAttribute('data-message-id', message.id);
                var firstName = message.user.fullName.split(' ')[0];
                const date = new Date(Date.parse(message.created));
                const dateString = convertDateObjectToFormatted(date);
                if (message.user.id === "@(ViewBag.CurrentUser.Id)") {
                    if (messageIndex == mostRecentMessageIndex && !statusMessageAlreadyExists) {
                        messageElement.innerHTML = rightMessage(message.text, firstName, message.status, dateString);
                    } else {
                        messageElement.innerHTML = rightMessage(message.text, firstName, undefined, dateString);
                    }
                } else {
                    messageElement.innerHTML = `<div class="message-avatar pull-left">${firstName}</div>` +
                        `<div class="text-start message-content-otheruser pull-left pb-3 position-relative" style="max-width: 400px; min-width: 150px;">
                            <div>${message.text}</div>
                            <div id="message-date" class="fs-7 position-absolute pe-3 text-black bottom-0" style="bottom: 25px">${dateString}</div>
                        <div>`;
                }
                messageIndex++;
                messagesContainer.insertBefore(messageElement, messagesContainer.children[1]);
                if (messages.length < @ViewBag.MessageAmountPerCall) {
                    getRecentMessagesButton.style.display = 'none';
                }
            });

            const newContainerHeight = messagesContainer.offsetHeight;
            const newContainerScrollHeight = messagesContainer.scrollHeight;
            const scrollPosition = newContainerScrollHeight - containerScrollHeight + containerScrollTop;

            if (newContainerHeight >= containerHeight) {
                messagesContainer.scrollTop = scrollPosition;
            }

            addOnTextSizeChangeToTextAreas();
            addOnClickToDeleteButtons();
            addOnClickToEditButtons();
            addOnClickToSaveButtons();
            addOnClickToCancelButtons();
        }

        function rightMessage(message, name, status, date) {
            if (status === undefined) {
                return `<div class="message-avatar pull-right">${name}</div>` +
                    `<div class="delete-message-button bi bi-trash-fill text-danger pull-right btn hover-background-grey p-0 px-1"></div>
                         <div class="edit-message-button bi bi-pencil-fill text-primary pull-right btn hover-background-grey p-0 px-1"></div>
                         <div class="cancel-message-button bi bi-x text-danger btn hover-background-grey pull-right p-0 px-1 d-none"></div>
                         <div class="save-message-button bi bi-check text-success btn hover-background-grey pull-right p-0 px-1 d-none"></div>` +
                    `<div class="pull-right position-relative">
                            <textarea type="text" class="message-content-input message-content pull-right border-0 " style="max-width: 400px;" readonly>${message}</textarea>
                            <div class="saved-content-temp d-none"></div>
                            <div id="message-date" class="fs-7 text-light-grey position-absolute end-0 pe-3" style="bottom: 2px">${date}</div>
                        </div>`;
            }
            return `<div class="message-avatar pull-right">${name}</div>` +
                `<div class="delete-message-button bi bi-trash-fill text-danger pull-right btn hover-background-grey p-0 px-1"></div>
                        <div class="edit-message-button bi bi-pencil-fill text-primary pull-right btn hover-background-grey p-0 px-1"></div>
                        <div class="cancel-message-button bi bi-x text-danger btn hover-background-grey pull-right p-0 px-1 d-none"></div>
                        <div class="save-message-button bi bi-check text-success btn hover-background-grey pull-right p-0 px-1 d-none"></div>` +
                `<div class="d-flex flex-column pull-right position-relative">
                           <textarea type="text" class="message-content-input message-content pull-right border-0 " style="max-width: 400px;" readonly>${message}</textarea>
                           <div class="saved-content-temp d-none"></div>
                           <div id="status-message" class="pull-right text-end">${status === @((int)MessageStatus.Sent) ? "Enviado" : "Lido"}</div>
                               <div id="message-date" class="fs-7 text-light-grey position-absolute end-0 pe-3" style="bottom: 25px">${date}</div>
                       </div>`;
        }
    });

</script>

<script>
    window.onload = function () {
        var message = document.getElementById("message");
        message.value = "";
        message.placeholder = "@Localizer["type_message_and_press_enter"]";
    };
</script>

<script>
    const message = document.getElementById('message');
    message.addEventListener('focus', () => {
        message.style.border = '2px solid #6610F2';
    });
    message.addEventListener('blur', () => {
        message.style.border = '2px solid black';
    });
</script>