@model List<Comment>
@using Tidbeat.Enums
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@foreach (var comment in Model) {
<div class="form-control d-flex flex-row" style="margin-top: 7px;">
    <div class="align-content-end flex-column w-25 border-end">
            <div class="fs-7">@Localizer["created_in"]: @comment.CreationDate.Date.ToString("dd/MM/yyyy")</div>
        <div class="font-weigth-bold d-flex justify-content-center">
            @if (comment.User.Email == Configurations.InvalidUser.Email) {
                <div>
                    @Localizer["[deleted]"]
                </div>
            }
            else {
                    @if (comment.User.Role.Equals(Tidbeat.Enums.RoleType.Admin)) {
                        <div class="bi bi-diamond-fill fs-6 me-1 py-0 text-primary" data-toggle="tooltip" data-placement="top" title="@Localizer["admin"]"></div>
                    }
                    else if (comment.User.Role.Equals(Tidbeat.Enums.RoleType.Moderator)) {
                        <div class="bi bi-diamond-fill fs-6 me-1 py-0 text-danger" data-toggle="tooltip" data-placement="top" title="@Localizer["moderator"]"></div>
                    }
                    else {
                        <div class="bi bi-music-note fs-6 me-1 py-0 text-black" data-toggle="tooltip" data-placement="top" title="@Localizer["normal_user"]"></div>
                    }
                    <a class="text-decoration-none text-start text-wrap text-break" asp-Controller="Profiles" asp-Action="Details" asp-route-id="@comment.User.Id">
                        @{
                            string personName = comment.User.FirstAndLastName();
                            if (personName.Length > 15) {
                                personName = personName.Substring(0, 15);
                                personName += "...";
                            }
                        }
                        @personName
                </a>
            }
        </div>
            
        <div>@Html.Partial("_RatingPartial", Tuple.Create((int) comment.CommentId , RatingType.Comment))</div>
    </div>
    <div class="border-left border-secondary ml-2 w-75 text-start ms-2">@comment.Content</div>

        @if (ViewData["currentUser"] != null && comment.User.Id == ((ApplicationUser) ViewData["currentUser"]).Id || User.IsInRole("Moderator") || User.IsInRole("Admin")) {
            <div class="align-content-end flex-column justify-content-end">
                <a formmethod="get" class="text-primary hover-background-grey rounded text-decoration-none px-2 pt-1 pb-1 bi bi-pencil-fill" asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.CommentId"></a>
                <form class="mt-2" style="outline: none;" method="post">
                    @Html.AntiForgeryToken()
                    <div class="hover-background-grey rounded">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="(() => selectComment(@comment.CommentId))()" style="border: none;" class="bg-transparent text-danger text-decoration-none px-2 py-1 bg-info bi-trash-fill"></button>
                    </div>
                </form>
            </div>
        } else {
            if (User.Identity.IsAuthenticated)
            {
                <div>
                    <button class="bi bi-exclamation-triangle-fill text-danger fs-4 hover-background-grey py-0 px-1 btn" data-bs-toggle="modal" data-bs-target="#report-modal" data-id="@comment.CommentId" data-type="Comment"></button>
                </div>
            }
        }
    </div>
}

