@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var loggedUserName = (await UserManager.GetUserAsync(User))?.FullName.Split(' ')[0];
}
<ul class="navbar-nav d-flex flex-row">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item me-2 me-lg-0">
            <a class="nav-link text-dark  text-nowrap" asp-Controller="Profiles" asp-Action="Details" asp-route-id="@UserManager.GetUserAsync(User).Result?.Id"
            title="Manage" >
                @Localizer["hello"], @((loggedUserName?.Length > 9) ? loggedUserName.Substring(0, 9) + "..." : loggedUserName)!
        </a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark bg-info bi-box-arrow-right bg-white fs-4 py-0"></button>
        </form>
    </li>
}
else
{
    <li class="nav-item me-2 me-lg-0">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@Localizer["register"]</a>
    </li>
        <li class="nav-item me-2 me-lg-0">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Localizer["login"]</a>
    </li>
    
}
</ul>
