@model SpotifyAPI.Web.FullTrack
@using Tidbeat.Services

@{
    ViewData["Title"] = "Details";
    var songLength = Model.DurationMs / 60000;
    var spotifyPageURL = SpotifyService.UrlSong + Model.Id;
    var releaseDate = DateTime.ParseExact(Model.Album.ReleaseDate, "yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture).ToString("dd-MM-yyyy");
    List<Post> allPosts = ViewBag.posts;
}

<!--All music info goes here-->
<div class="container-fluid row w-100 d-flex flex-column flex-lg-row mx-0">
    <div class="d-flex flex-column col-lg-4 col-12">
        <div class="mt-5 pt-5 mb-3 d-flex align-items-center justify-content-center justify-content-lg-start">
            <div>
                <div>
                    <img id="startAudio" src="~/images/PlayButton.png" />
                    <div id="audioStatus" class="text-nowrap"></div>
                </div>
                <audio id="myAudio">
                    <source src="@Model.PreviewUrl" type="audio/mpeg">
                </audio>
            </div>
            <h4 class="d-flex ms-2">Música: @Model.Name</h4>
        </div>
        <div class="d-flex flex-column flex-xl-row justify-content-lg-start align-items-center">
            <a href="@spotifyPageURL"><img src="@Model.Album.Images[0].Url" height="200" /></a>
            <div class="ms-2 text-start">
                <div>De: <a class="ms-1" href="@Url.Action("Details", "Bands", new { id = Model.Artists[0].Id })">@Model.Artists[0].Name</a></div>
                <div>Lançado em: @releaseDate</div>
                <div>Duração: @songLength minutos</div>
                <!--<div>@(Model.Explicit ? "É" : "Não é") explícito</div>-->
                <div>Álbum: @Model.Album.Name</div>
            </div>
        </div>
        <div class="d-flex align-items-lg-start flex-column mt-5">
            <div>Número de favoritos: 0</div>
            <div>Número de posts sobre esta música: 0</div>
        </div>
    </div>

    <!--All posts goes here-->
    <div class="col-lg-8 col-12 mt-5 pt-5 scrollable-posts">
        <div class="fs-3">Posts</div>
        @foreach (Post post in allPosts) {
            <div class="d-flex align-items-center border border-2 border-primary p-1 rounded mb-2">
                <div class="border-end border-2 border-primary pe-2">
                    <div>@post.User.FullName</div>
                    <div>Utilizador</div>
                </div>
                <div class="ms-2">@post.Title</div>
            </div>
        }
    </div>
</div>

<script>
    var startAudio = document.getElementById("startAudio");
    var myAudio = document.getElementById("myAudio");
    var audioStatus = document.getElementById("audioStatus");

    var isPlaying = false;

    startAudio.onclick = function () {
        if (isPlaying) {
            myAudio.pause();
            isPlaying = false;
            startAudio.src = "../../images/PlayButton.png";
            audioStatus.innerHTML = "Pausado: " + (30 - myAudio.currentTime.toFixed(0)) + "s";
            myAudio.removeEventListener("timeupdate", updateTime);
        } else {
            myAudio.play();
            isPlaying = true;
            startAudio.src = "../../images/StopButton.png";
            myAudio.addEventListener("timeupdate", updateTime);
        }
    }

    function updateTime() {
        audioStatus.innerHTML = "A correr: " + (30 - myAudio.currentTime.toFixed(0)) + "s";
    }

    startAudio.addEventListener("mouseover", function () {
        if (isPlaying) {
            startAudio.src = "../../images/StopButtonHover.png";
        } else {
            startAudio.src = "../../images/PlayButtonHover.png";
        }
    });

    startAudio.addEventListener("mouseout", function () {
        if (isPlaying) {
            startAudio.src = "../../images/StopButton.png";
        } else {
            startAudio.src = "../../images/PlayButton.png";
        }
    });

    myAudio.addEventListener("ended", function () {
        isPlaying = false;
        startAudio.src = "../../images/PlayButton.png";
        audioStatus.innerHTML = "";
    });
</script>
