@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@model SpotifyAPI.Web.FullTrack
@using Tidbeat.Services

@{
    ViewData["Title"] = "Details";
    var songLength = Model.DurationMs / 60000;
    var spotifyPageURL = SpotifyService.UrlSong + Model.Id;
    var releaseDate = "";
    if (Model.Album.ReleaseDate.Length == 4) {
        releaseDate = Model.Album.ReleaseDate;
    } else {
        releaseDate = DateTime.ParseExact(Model.Album.ReleaseDate, "yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture).ToString("dd-MM-yyyy");
    }
    List<Post> allPosts = ViewBag.posts;
    bool isFavorited = ViewBag.isFavorited;
    int favoritesAmount = ViewBag.favoritesAmount;
}

<div>
    @{
        await Html.RenderPartialAsync("_Sidebar");
    }
</div>

<!--All music info goes here-->
<div class="container-fluid row w-100 d-flex flex-column flex-lg-row mx-0">
    <div class="d-flex flex-column col-lg-6 col-md-12 vh-100-minus-navbar border-lg-end pe-1">
        <div class="mt-5 pt-5 mb-3 d-flex align-items-center justify-content-center ">
            <div >
                @if (Model.PreviewUrl != null)
                {
                    <div class="d-flex flex-row">
                        <img id="startAudio" src="~/images/PlayButton.png" class="pointer-active" />
                        <div id="audioStatus" 
                             class="text-nowrap border border-start-0 border-end-0 border-primary"
                             style="min-width: 96pt; min-height: 24pt; max-height: 24pt; padding-top: 2pt; margin-top: 7pt; margin-left: 2pt;">
                        </div>
                    </div>
                    <audio id="myAudio">
                        <source src="@Model.PreviewUrl" type="audio/mpeg">
                    </audio>
                } else {
                    <div hidden>
                        <img id="startAudio"/>
                        <div id="audioStatus" class="text-nowrap"></div>
                    </div>
                    <audio id="myAudio" hidden>
                        <source type="audio/mpeg">
                    </audio>
                }
            </div>
            
        </div>
        <h4 class="ms-0 fw-bold">@Localizer["song"]: </h4>
        <div class="ms-0 text-primary fw-bold">@Model.Name</div>
        <hr />
        <div class="d-flex flex-column flex-xl-row justify-content-lg-start align-items-center">
            <div class="position-relative">
                <a target="_blank" href="@spotifyPageURL">
                    @if (Model.Album.Images.Count > 0) {
                        <img src="@Model.Album.Images[0].Url" height="200" class="btn btn-outline-primary border-0 p-1" />
                    } else {
                        <img src="~/images/Empty_Song_Image.png" height="200" />
                    }
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    <div id="favoriteHeart" class="bi @(isFavorited ? "bi-heart-fill" : "bi-heart" ) pointer-active text-danger fs-3 position-absolute bottom-0 end-0 mb-2 me-2 bg-black-50 ps-2 pe-2 pt-1"></div>
                }
            </div>
            <div class="ms-2 text-start">
                <div class="d-flex flex-row">
                    <div class="text-dark fw-bold">@Localizer["from"]:</div>
                    <a class="ms-1 fw-semibold" href="@Url.Action("Details", "Bands", new { id = Model.Artists[0].Id })">@Model.Artists[0].Name</a>
                </div>
                <div class="d-flex flex-row">
                    <div class="text-dark fw-bold">@Localizer["released_in"]:</div>
                    <div class="ms-1 text-primary">@releaseDate</div>
                </div>
                <div class="d-flex flex-row">
                    <div class="text-dark fw-bold">@Localizer["duration"]:</div>
                    <div class="ms-1 text-primary">@songLength @Localizer["minutes"]</div>
                </div>
                <div class="d-flex flex-row">
                    <div class="text-dark fw-bold">@Localizer["album"]: </div>
                    <div class="ms-1 text-primary">@Model.Album.Name</div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="d-flex align-items-lg-start flex-column mt-1">
            <div class="text-dark fw-bold">@Localizer["stats"]</div>
            <div id="favoriteAmount">@Localizer["favorites"]: @favoritesAmount</div>
            <div>@Localizer["posts_about_song"]: @allPosts.Count</div>
        </div>
    </div>

    <!--All posts goes here-->
    <div class="col-lg-6 col-md-12 mt-5 pt-5 scrollable-posts">
        <div class="d-flex flex-column justify-content-center mb-2">
            <div class="fs-3 me-4">@Localizer["posts"]</div>
            @if (User.Identity.IsAuthenticated) {
                <a class="bottom-0 end-0 post-btn-center-lg me-4 mb-4 btn btn-primary" asp-controller="Posts" asp-action="Create" asp-route-Idsong="@Model.Id">
                    @Localizer["create_post"]
                </a>
            }
        </div>
        @if (allPosts.Count == 0) {
            <div>@Localizer["no_posts"]</div>
            <img src="~/images/NoPostsImage.png" height="120" class="mt-5"/>
        }
        @foreach (Post post in allPosts) {
            <a class="text-decoration-none text-black" href="@Url.Action("Details", "Posts", new { id = post.PostId })">
                <div class="d-flex align-items-center border-2 border-primary p-1 rounded mb-2 hover-background-grey" style="box-shadow: 0 8px 15px -8px rgba(0, 0, 0, 0.4);">
                    <div class="border-end border-2 border-primary pe-2">
                        <div>
                            @if (post.User.Email == Configurations.InvalidUser.Email) {
                                @Localizer["[deleted]"]
                            }
                            else {
                                string personName = post.User.FirstAndLastName();
                                if (personName.Length > 15) {
                                    personName = personName.Substring(0, 15);
                                    personName += "...";
                                }
                                @personName
                            }
                        </div>
                        <div class="fs-7">@Localizer["created_in"]: @post.CreationDate.Date.ToString("dd/MM/yyyy")</div>
                    </div>
                    <div class="ms-2">@post.Title</div>
                </div>
            </a>
        }
    </div>
</div>

<script>
    var favoriteHeart = document.getElementById("favoriteHeart");
    var favoriteAmountElement = document.getElementById("favoriteAmount");
    var False = false;
    var True = true;
    var isFavorited = @isFavorited;
    var favoritesAmount = @favoritesAmount;
    if (favoriteHeart != null) {
        favoriteHeart.onclick = function () {
            if (favoriteHeart.classList.contains("bi-heart-fill")) {
                favoriteHeart.classList.remove("bi-heart-fill");
                favoriteHeart.classList.add("bi-heart");
                isFavorited = false;
                @(favoritesAmount = favoritesAmount - 1)
                    favoriteAmountElement.innerHTML = "@Localizer["favorites"]: " + --favoritesAmount;
            } else {
                favoriteHeart.classList.remove("bi-heart");
                favoriteHeart.classList.add("bi-heart-fill");
                isFavorited = true;
                @(favoritesAmount = favoritesAmount + 1)
                    favoriteAmountElement.innerHTML = "@Localizer["favorites"]: " + ++favoritesAmount;
            }
            setFavorite(isFavorited);
        }
    }
    
    function setFavorite(isFavorite) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', `/Songs/SetFavorite?songId=${isFavorite ? '@Model.Id' : null}`);
        xhr.send();
    }

    var startAudio = document.getElementById("startAudio");
    var myAudio = document.getElementById("myAudio");
    myAudio.volume = 0.4;
    var audioStatus = document.getElementById("audioStatus");

    var isPlaying = false;

    startAudio.onclick = function () {
        if (isPlaying) {
            myAudio.pause();
            isPlaying = false;
            startAudio.src = "../../images/PlayButton.png";
            audioStatus.innerHTML = "@Localizer["paused"]: " + (30 - myAudio.currentTime.toFixed(0)) + "s";
            myAudio.removeEventListener("timeupdate", updateTime);
        } else {
            myAudio.play();
            isPlaying = true;
            startAudio.src = "../../images/StopButton.png";
            myAudio.addEventListener("timeupdate", updateTime);
        }
    }

    function updateTime() {
        audioStatus.innerHTML = "@Localizer["running"]: " + (30 - myAudio.currentTime.toFixed(0)) + "s";
    }

    startAudio.addEventListener("mouseover", function () {
        if (isPlaying) {
            startAudio.src = "../../images/StopButtonHover.png";
        } else {
            startAudio.src = "../../images/PlayButtonHover.png";
        }
    });

    startAudio.addEventListener("mouseout", function () {
        if (isPlaying) {
            startAudio.src = "../../images/StopButton.png";
        } else {
            startAudio.src = "../../images/PlayButton.png";
        }
    });

    myAudio.addEventListener("ended", function () {
        isPlaying = false;
        startAudio.src = "../../images/PlayButton.png";
        audioStatus.innerHTML = "";
    });
</script>
