@model Tidbeat.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<!-- In the head section of your page -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<style>
    .btn-danger {
        background-color: #e62517;
        color: white;
        border-color: #e62517;
    }

     .btn-danger:hover {
         background-color: #e62517;
         color_: white;
         border-color: #e62517;
     }

     .btn-danger:active,
     .btn-danger:focus {
          background-color: #e62517;
          color: white;
          border-color: #e62517;
     }

    .btn-secondary {
          background-color: white;
          color: #6610F2;
          border-color: #6610F2;
    }

    .btn-secondary:hover {
          background-color: white;
          color: #6610F2;
          border-color: #6610F2;
    }

    .btn-secondary:active,
    .btn-secondary:focus {
          background-color: white;
          color: #6610F2;
          border-color: #6610F2;
    }
</style>



<h3 style="color: #6610F2; margin-top: 100px;">Apagar Post</h3>
<hr />

<div class="container d-flex justify-content-center">
    <dl class="row">
        <dt class="col-sm-2" style="color: #6610F2;">
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song)
        </dd>

        <dt class="col-sm-2" style="color: #6610F2; margin-top:10px;">
            @Html.DisplayNameFor(model => model.Band)
        </dt>
        <dd class="col-sm-10" style="margin-top:10px;">
            @Html.DisplayFor(model => model.Band)
        </dd>

        <dt class="col-sm-2" style="color: #6610F2; margin-top:10px;">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10" style="margin-top:10px;">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2" style="color: #6610F2; margin-top:10px;">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10" style="margin-top:10px;">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>

<div class="container d-flex justify-content-center" style="margin-top:20px;">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
        Apagar
    </button>
    <a asp-action="Index" style="margin-left: 50px; margin-right: 10px; margin-top:4px;">Cancelar</a>
</div>

<!-- Modal Box-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Apagar Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                De certeza que pretende apagar este post?
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="PostId" />
                    <button type="submit" class="btn btn-danger">Apagar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>