@using Tidbeat.Enums
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@model Tidbeat.Models.Post

@{
    ViewData["Title"] = "Details";
    var from = Localizer["from"].Value;
    var fromUpper = "";
    if (from != null) {
        fromUpper = char.ToUpper(from[0]) + from.Substring(1);
    }
}

<div class="mt-4 pt-5 row">
    @if (TempData.ContainsKey("Sucess"))
    {
        <div class="bg-success w-100 mt-2">@TempData["Sucess"]</div>
    }
    @if (TempData.ContainsKey("Insucess"))
    {
        <div class="bg-danger w-100">@TempData["Insucess"]</div>
    }
    <div class="col-6 border-end vh-100-minus-navbar pe-0">
        <div class="d-flex justify-content-between">
            <div>
                <div class="d-flex ms-2">
                    <div class="text-start text fs-6 border-end pe-2">@fromUpper: <a class="text-decoration-none" asp-Controller="Profiles" asp-Action="Details" asp-route-id="@Model.User.Id">@Model.User.FullName</a></div>
                    <div class="text-start text fs-6 ms-2">@Localizer["created_in"]: @Model.CreationDate.Date.ToShortDateString()</div>
                    @if (Model.IsEdited) {
                        <span class="fs-6 ">&nbsp;(@Localizer["edited_in"] - @Model.EditDate.Date.ToShortDateString())</span>
                    }
                </div>
                @if (Model.Song != null) {
                    <div class="d-flex flex-row ms-2 fs-6">
                        <div class="text-primary">@Localizer["song"]:&nbsp;</div>
                        <a class="text-black-hover" asp-controller="Songs" asp-action="Details" asp-route-id="@Model.Song.SongId">@Model.Song.Name</a>
                        <div class="text-primary">&nbsp;@(from)&nbsp;</div>
                        <a class="text-black-hover" asp-controller="Bands" asp-action="Details" asp-route-id="@Model.Band.BandId">@Model.Band.Name </a>
                        <!--<div class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;Link:&nbsp;</div>
                        <a href="https://open.spotify.com/track/@Model.Song.SongId" target="_blank">Spotify - @Model.Song.Name by @Model.Band.Name</a>-->
                    </div>
                }
                else if (Model.Band != null) {
                    <div class="d-flex flex-row ms-2 fs-6">
                        <div class="text-primary">@Localizer["band"]:</div>
                        <a class="text-black-hover" asp-controller="Bands" asp-action="Details" asp-route-id="@Model.Band.BandId">@Model.Band.Name </a>
                        <div class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;Link:&nbsp;</div>
                        <a href="https://open.spotify.com/artist/@Model.Band.BandId" target="_blank">Spotify - @Model.Band.Name</a>
                    </div>
                }
            </div>
            @if (Model.User.Id == ViewBag.currentUser?.Id)
            {
            <div class="d-flex flex-column border  border-top-0 border-primary me-2">
                    <a class="text-primary rounded text-decoration-none bi bi-pencil-fill fs-6 px-2 py-1 mb-1 hover-background-grey" asp-action="Edit" asp-route-id="@Model.PostId"></a>
                    <a class="text-danger rounded text-decoration-none bi bi-trash-fill fs-6 px-2 py-1 hover-background-grey" asp-action="Delete" asp-route-id="@Model.PostId"></a>
            </div>
            }
        </div>
        <div class="d-flex">
            @if (Model.Song != null && ViewBag.urlSong != null) {
                <div>
                    <div>
                        <img id="startAudio" src="~/images/PlayButton.png" class="pointer-active" />
                        <div id="audioStatus" class="text-nowrap"></div>
                    </div>
                    <audio id="myAudio">
                        <source src="@ViewBag.urlSong" type="audio/mpeg">
                    </audio>
                </div>
            }
            <div class="ms-2 w-100">
                <h4 class="d-flex fw-bold fs-1">@Model.Title</h4>
                <div id="post-content" class="text-start pb-4">@Html.Raw(Model.Content)</div>
            </div>
        </div>
        <div class="d-flex">@Html.Partial("_RatingPartial", Tuple.Create(Model.PostId, RatingType.Post))</div>
    </div>
    
    
    <div class="col-6">
        <div class="text-start mt-2 mb-2">@Localizer["comments"]:<hr class="m-0 mb-2"></div>
        @if (User.Identity.IsAuthenticated)
        {
            <form class="w-100 mx-auto d-flex flex-column mb-1" asp-controller="Comments" asp-action="Create" id="commentForm" method="post">
                <div class="d-flex">
                    <input asp-for="Content" class="form-control second-phase mt-0 rounded border-primary" id="commentText" autocomplete="text" aria-required="true" value=""/>
                    <button type="submit" class="ms-2 btn btn-primary">@Localizer["submit"]</button>
                </div>
                <input name="PostId" hidden id="commentPostID" value="@Model.PostId" />
            </form>
        }

        <div class="scrollable-comments">
            @foreach (var item in ViewBag.commentsPosts)
            {
                <div class="form-control d-flex flex-row">
                    <div class="align-content-end flex-column w-25 border-end">
                        <div class="fs-7">@Localizer["created_in"]: @item.CreationDate.Date.ToShortDateString()</div>
                        <div class="font-weigth-bold"><a class="text-decoration-none" asp-Controller="Profiles" asp-Action="Details" asp-route-id="@item.User.Id">@item.User.FullName</a></div>
                        <div class="text-primary">Role</div>
                        <div>@Html.Partial("_RatingPartial", Tuple.Create((int) item.CommentId , RatingType.Comment))</div>
                    </div>
                    <div class="border-left border-secondary ml-2 w-75 text-start ms-2">@item.Content</div>

                @if (ViewBag.currentUser != null && item.User.Id == ViewBag.currentUser.Id) {
                    <div class="align-content-end flex-column justify-content-end">
                    <a formmethod="get" class="text-primary hover-background-grey rounded text-decoration-none px-2 pt-1 pb-1 bi bi-pencil-fill" asp-controller="Comments" asp-action="Edit" asp-route-id="@item.CommentId"></a>
                    <form class="mt-2" style="outline: none;" method="post" >
                        @Html.AntiForgeryToken()
                        <div class="hover-background-grey rounded">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="(() => selectComment(@item.CommentId))()" style="border: none;" class="bg-transparent text-danger text-decoration-none px-2 py-1 bg-info bi-trash-fill"></button>
                        </div>
                    </form>
                    </div>
                }
                </div>
            }
            @if (ViewBag.commentsPosts.Count == 0) {
                <div>@Localizer["no_comments"]</div>
            }
            <input id="selectedCommentId" hidden />
            <form id="delete-comment-modal" style="outline: none;" method="post">
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">@Localizer["delete_comment"]</h5>
                                <button type="button" class="close custom-close rounded btn btn-primary" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="bi bi-x font-white" style="font-size: 1.1rem;" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                @Localizer["are_you_sure_delete_comment"]
                            </div>
                            <div class="modal-footer">
                                <button id="deleteButtonModal" name="deleteButtonModal" type="submit" class="btn btn-danger text-danger" style="outline: thick solid #DC3545; outline-width: 3px">@Localizer["delete"]</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">@Localizer["cancel"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--<a class="text-primary" asp-action="Index">Voltar</a>-->
</div>
<script>
    var startAudio = document.getElementById("startAudio");
    var myAudio = document.getElementById("myAudio");
    var audioStatus = document.getElementById("audioStatus");
    myAudio.volume = 0.4;
    var isPlaying = false;

    startAudio.onclick = function () {
        if (isPlaying) {
            myAudio.pause();
            isPlaying = false;
            startAudio.src = "../../images/PlayButton.png";
            audioStatus.innerHTML = (30 - myAudio.currentTime.toFixed(0)) + "s";
            myAudio.removeEventListener("timeupdate", updateTime);
        } else {
            myAudio.play();
            isPlaying = true;
            startAudio.src = "../../images/StopButton.png";
            myAudio.addEventListener("timeupdate", updateTime);
        }
    }

    function updateTime() {
        audioStatus.innerHTML = (30 - myAudio.currentTime.toFixed(0)) + "s";
    }

    startAudio.addEventListener("mouseover", function () {
        if (isPlaying) {
            startAudio.src = "../../images/StopButtonHover.png";
        } else {
            startAudio.src = "../../images/PlayButtonHover.png";
        }
    });

    startAudio.addEventListener("mouseout", function () {
        if (isPlaying) {
            startAudio.src = "../../images/StopButton.png";
        } else {
            startAudio.src = "../../images/PlayButton.png";
        }
    });

    myAudio.addEventListener("ended", function () {
        isPlaying = false;
        startAudio.src = "../../images/PlayButton.png";
        audioStatus.innerHTML = "";
    });
    var commentSubmit = document.getElementById("commentText");
    commentSubmit.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("commentForm").submit();
        }
    });

    function selectComment(commentId) {
        var modalForm = document.getElementById('delete-comment-modal');
        modalForm.setAttribute('action', '/Comments/Delete/' + commentId);
    }
</script>
<!--
<h3 style="color: #6610F2; margin-top: 100px;" >Detalhes do Post</h3>

<div class="d-flex justify-content-center">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2" style="color: #6610F2;">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2" style="color: #6610F2;">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
        </dl>
    </div>
</div>

<div style="margin-top: 20px;">
    <a asp-action="Edit" asp-route-id="@Model?.PostId">Editar</a> |
    <a asp-action="Index">Cancelar</a>
</div>
-->