@using Tidbeat.Enums
@model Tidbeat.Models.Post

@{
    ViewData["Title"] = "Details";
}
<!-- Falta Comentários-->

<div class="mt-4 pt-5">
    @if (TempData.ContainsKey("Sucess"))
    {
        <div class="bg-success w-100 mt-2">@TempData["Sucess"]</div>
    }
    @if (TempData.ContainsKey("Insucess"))
    {
        <div class="bg-danger w-100">@TempData["Insucess"]</div>
    }
    <div class="mt-2 mb-3 d-flex align-items-center justify-content-center justify-content-lg-start">
        @if (Model.Song != null)
        {
            <div>
                <div>
                    <img id="startAudio" src="~/images/PlayButton.png" class="pointer-active" />
                    <div id="audioStatus" class="text-nowrap"></div>
                </div>
                <audio id="myAudio">
                    <source src="@ViewBag.urlSong" type="audio/mpeg">
                </audio>
            </div>
        }
        <div class="d-flex ms-2 flex-column">
            <h3 class="fw-bold text-start">@Model.User.FullName</h3>
            @if (Model.Song != null)
            {
                <div class="d-flex flex-row"><div class="text-primary">Música:</div><div>&nbsp;@Model.Song.Name</div><div class="text-primary">&nbsp;de&nbsp;</div><div>@Model.Band.Name</div><div class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;Link:&nbsp;</div><a href="https://open.spotify.com/track/@Model.Song.SongId" target="_blank">Spotify - @Model.Song.Name by @Model.Band.Name</a></div>
            } else if (Model.Band != null) 
            {
                <div class="d-flex flex-row"><div class="text-primary">Artista:</div><div>@Model.Band.Name </div><div class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;Link:&nbsp;</div><a href="https://open.spotify.com/artist/@Model.Band.BandId" target="_blank">Spotify - @Model.Band.Name</a></div>
            }
        </div>
    </div>
    <div>
        <h4 class="d-flex ms-2 fw-bold">@Model.Title</h4>
        <div class="text-start pb-4" >@Model.Content</div>
    </div>
    <div class="d-flex">@Html.Partial("_RatingPartial", Tuple.Create(Model.PostId, RatingType.Post))</div>
    <div class="text-start mt-2 mb-2">Comentários:<hr class="m-0 mb-2"/></div>
    @if (User.Identity.IsAuthenticated)
    {
        <form class="w-100 mx-auto d-flex flex-column mb-1" asp-controller="Comments" asp-action="Create" id="commentForm" method="post">
            <div class="d-flex">
                <input asp-for="Content" class="form-control second-phase mt-0 rounded border-primary" id="commentText" autocomplete="text" aria-required="true" value=""/>
                <button type="submit" class="ms-2 btn btn-primary">Submeter</button>
            </div>
            <input name="PostId" hidden id="commentPostID" value="@Model.PostId" />
        </form>
    }

        <div>
            @foreach (var item in ViewBag.commentsPosts)
            {
                <div class="form-control d-flex flex-row">
                    <div class="align-content-end flex-column w-25">
                        <div class="font-weigth-bold">@item.User.FullName</div>
                        <div class="text-primary">Role</div>
                    <div>@Html.Partial("_RatingPartial", Tuple.Create((int) item.CommentId , RatingType.Comment))</div>
                    </div>
                    <div class="border-left border-secondary ml-2 w-75 text-start">@item.Content</div>
                @if (ViewBag.currentUser != null)
                    {
                        @if (item.User.Id == ViewBag.currentUser.Id)
                        {
                            <div class="align-content-end flex-column justify-content-end">
                                <a formmethod="get" class="bg-primary text-white rounded text-decoration-none px-3 pt-1 pb-1" asp-controller="Comments" asp-action="Edit" asp-route-id="@item.CommentId">Editar</a>
                            <form class="mt-2" style="outline: none;" method="post" action="@Url.Action("Delete", "Comments", new { id = item.CommentId })">
                                @Html.AntiForgeryToken()

                                <button type="submit" style="border: none;" class="bg-primary text-white rounded text-decoration-none px-2 pt-1 pb-1">
                                    Apagar
                                </button>
                            </form>
                            </div>
                        }
                    }
                </div>
            }
            @if (ViewBag.commentsPosts.Count == 0) {
                <div>Não há comentários... Seja o primeiro a comentar!</div>
            }
        </div>
        @if (Model.User.Id == ViewBag.currentUser?.Id) {
        <div class="m-2">
            <a class="bg-primary text-white rounded p-2 m-2 text-decoration-none" asp-action="Edit" asp-route-id="@Model.PostId">Editar</a>
            <a class="bg-primary text-white rounded p-2 m-2 text-decoration-none" asp-action="Delete" asp-route-id="@Model.PostId">Apagar</a>
        </div>
        }
    <!--<a class="text-primary" asp-action="Index">Voltar</a>-->
</div>
<script>
    var startAudio = document.getElementById("startAudio");
    var myAudio = document.getElementById("myAudio");
    var audioStatus = document.getElementById("audioStatus");

    var isPlaying = false;

    startAudio.onclick = function () {
        if (isPlaying) {
            myAudio.pause();
            isPlaying = false;
            startAudio.src = "../../images/PlayButton.png";
            audioStatus.innerHTML = "Pausado: " + (30 - myAudio.currentTime.toFixed(0)) + "s";
            myAudio.removeEventListener("timeupdate", updateTime);
        } else {
            myAudio.play();
            isPlaying = true;
            startAudio.src = "../../images/StopButton.png";
            myAudio.addEventListener("timeupdate", updateTime);
        }
    }

    function updateTime() {
        audioStatus.innerHTML = "A correr: " + (30 - myAudio.currentTime.toFixed(0)) + "s";
    }

    startAudio.addEventListener("mouseover", function () {
        if (isPlaying) {
            startAudio.src = "../../images/StopButtonHover.png";
        } else {
            startAudio.src = "../../images/PlayButtonHover.png";
        }
    });

    startAudio.addEventListener("mouseout", function () {
        if (isPlaying) {
            startAudio.src = "../../images/StopButton.png";
        } else {
            startAudio.src = "../../images/PlayButton.png";
        }
    });

    myAudio.addEventListener("ended", function () {
        isPlaying = false;
        startAudio.src = "../../images/PlayButton.png";
        audioStatus.innerHTML = "";
    });
    var commentSubmit = document.getElementById("commentText");
    commentSubmit.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("commentForm").submit();
        }
    });
</script>
<!--
<h3 style="color: #6610F2; margin-top: 100px;" >Detalhes do Post</h3>

<div class="d-flex justify-content-center">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2" style="color: #6610F2;">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2" style="color: #6610F2;">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
        </dl>
    </div>
</div>

<div style="margin-top: 20px;">
    <a asp-action="Edit" asp-route-id="@Model?.PostId">Editar</a> |
    <a asp-action="Index">Cancelar</a>
</div>
-->