@model Tidbeat.Models.Post

@{
    ViewData["Title"] = "Details";
}
<!-- Falta Comentários-->

<div class="mt-4 pt-5">
    @if (TempData.ContainsKey("Sucess"))
    {
        <div class="bg-success w-100">@TempData["Sucess"]</div>
    }
    @if (TempData.ContainsKey("Insucess"))
    {
        <div class="bg-danger w-100">@TempData["Insucess"]</div>
    }
    <div class="mt-2 mb-3 d-flex align-items-center justify-content-center justify-content-lg-start">
        @if (Model.Song != null)
        {
            <div>
                <div>
                    <img id="startAudio" src="~/images/PlayButton.png" class="pointer-active" />
                    <div id="audioStatus" class="text-nowrap"></div>
                </div>
                <audio id="myAudio">
                    <source src="@ViewBag.urlSong" type="audio/mpeg">
                </audio>
            </div>
        }
        <div class="d-flex ms-2 flex-column">
            <h3 class="font-weight-bold text-start">@Model.User.FullName</h3>
            @if (Model.Song != null)
            {
                <div class="d-flex flex-row"><div class="text-primary">Música: </div><div>@Model.Song.Name</div><div class="text-primary">&nbsp;de&nbsp;</div><div>@Model.Band.Name</div><div class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;Link:&nbsp;</div><a href="https://open.spotify.com/track/@Model.Song.SongId">Spotify - @Model.Song.Name by @Model.Band.Name</a></div>
            } else if (Model.Band != null) 
            {
                <div class="d-flex flex-row"><div class="text-primary">Artista:</div><div>@Model.Band.Name </div><div class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;Link:&nbsp;</div><a href="https://open.spotify.com/artist/@Model.Band.BandId">Spotify - @Model.Band.Name</a></div>
            }
        </div>
    </div>
    <div>
        <h4 class="d-flex ms-2">@Model.Title</h4>
        <div class="text-start" >@Model.Content</div>
    </div>
    <div class="text-start mt-2 mb-2">Comentários:<hr class="m-0 mb-2"/></div>
    <form class="w-100 mx-auto d-flex flex-column mb-1" id="account" method="post">
        <input class="form-control second-phase mt-0 rounded border-primary" id="commentText" autocomplete="text" aria-required="true"/>
    </form>
    <div class="m-2">
        <a class="bg-primary text-white rounded p-2 m-2 text-decoration-none" asp-action="Edit" asp-route-id="@Model.PostId">Editar</a>
        <a class="bg-primary text-white rounded p-2 m-2 text-decoration-none" asp-action="Delete" asp-route-id="@Model.PostId">Apagar</a>
    </div>
    <a class="text-primary" asp-action="Index">Voltar</a>
</div>
<script>
    var startAudio = document.getElementById("startAudio");
    var myAudio = document.getElementById("myAudio");
    var audioStatus = document.getElementById("audioStatus");

    var isPlaying = false;

    startAudio.onclick = function () {
        if (isPlaying) {
            myAudio.pause();
            isPlaying = false;
            startAudio.src = "../../images/PlayButton.png";
            audioStatus.innerHTML = "Pausado: " + (30 - myAudio.currentTime.toFixed(0)) + "s";
            myAudio.removeEventListener("timeupdate", updateTime);
        } else {
            myAudio.play();
            isPlaying = true;
            startAudio.src = "../../images/StopButton.png";
            myAudio.addEventListener("timeupdate", updateTime);
        }
    }

    function updateTime() {
        audioStatus.innerHTML = "A correr: " + (30 - myAudio.currentTime.toFixed(0)) + "s";
    }

    startAudio.addEventListener("mouseover", function () {
        if (isPlaying) {
            startAudio.src = "../../images/StopButtonHover.png";
        } else {
            startAudio.src = "../../images/PlayButtonHover.png";
        }
    });

    startAudio.addEventListener("mouseout", function () {
        if (isPlaying) {
            startAudio.src = "../../images/StopButton.png";
        } else {
            startAudio.src = "../../images/PlayButton.png";
        }
    });

    myAudio.addEventListener("ended", function () {
        isPlaying = false;
        startAudio.src = "../../images/PlayButton.png";
        audioStatus.innerHTML = "";
    });
</script>
<!--
<h3 style="color: #6610F2; margin-top: 100px;" >Detalhes do Post</h3>

<div class="d-flex justify-content-center">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2" style="color: #6610F2;">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2" style="color: #6610F2;">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
        </dl>
    </div>
</div>

<div style="margin-top: 20px;">
    <a asp-action="Edit" asp-route-id="@Model?.PostId">Editar</a> |
    <a asp-action="Index">Cancelar</a>
</div>
-->