@model IEnumerable<Tidbeat.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<div style="margin-top: 100px;">
<h3>Índice</h3>

<p>
    <a asp-action="Create">Criar novo post</a>
</p>
</div>

<partial>@Html.Partial("_RatingPartial", 0)</partial>
<partial>@Html.Partial("_RatingPartial", 0)</partial>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
