@using Tidbeat.Enums
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@model IEnumerable<Tidbeat.Models.Post>

@{
    ViewData["Title"] = "Index";
    var genre = TempData["genre"]?.ToString();
}

<div>
    @{
        await Html.RenderPartialAsync("_Sidebar");
    }
</div>

<div style="margin-top: 100px;">
    @if (TempData["Message"] != null)
    {
        <div id="success-alert" class="alert alert-success mt-2 alert-dismissible fade show position-relative d-flex justify-content-center align-items-center" role="alert">
            @TempData["Message"]
            <button type="button" class="close btn position-absolute end-0" data-dismiss="alert" aria-label="Close">
                <span class="fs-4" aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <h3 style="color: #6610F2;">@Localizer["recommended_posts"]</h3>
    <hr />
    <div id="filter" class="w-100 border border-2 border-dark" style="border-radius: 6pt; border-width: 0.75pt !important;">
        <!-- Left-aligned text saying Filtros -->
        <h5 class="text-primary fw-semibold text-start mt-1 ms-2">Filtros</h5>
        <div class="text-dark fw-semibold mt-3 mb-1 d-flex flex-row">
            <div class="filter-height-rectifier mb-2 ms-2">Nome:</div>
            <div class="filter-height-rectifier mb-2 ms-2">
                <input id="filter-name-input" class="form-control filter-field" placeholder="Escreva termo de pesquisa..." style="border: 1.5px solid #6610F2; border-radius: 15px;" />
            </div>
            <div class="filter-height-rectifier mb-2 ms-5">Género:</div>
            <div class="filter-height-rectifier mb-2 ms-2">
                <select class="form-control w-100" id="filter-genre-input" name="filter-genre-input">
                            <!option selected value="">@Localizer["pick_gender"]</!option>
                            <!option value="rock" @(genre == "rock" ? "selected" : "")>@Localizer["rock"]</!option>
                    <!option value="pop" @(genre == "pop" ? "selected" : "")>@Localizer["pop"]</!option>
                    <!option value="kids" @(genre == "kids" ? "selected" : "")>@Localizer["children"]</!option>
                    <!option value="funk" @(genre == "funk" ? "selected" : "")>@Localizer["funk"]</!option>
                    <!option value="classical" @(genre == "classical" ? "selected" : "")>@Localizer["classical"]</!option>
                    <!option value="country" @(genre == "country" ? "selected" : "")>@Localizer["country"]</!option>
                            <!option value="dance" @(genre == "dance" ? "selected" : "")>@Localizer["dance"]</!option>
                            <!option value="metal" @(genre == "metal" ? "selected" : "")>@Localizer["metal"]</!option>
                    <!option value="disco" @(genre == "disco" ? "selected" : "")>@Localizer["disco"]</!option>
                            <!option value="folk" @(genre == "folk" ? "selected" : "")>@Localizer["folk"]</!option>
                    <!option value="hip-hop" @(genre == "hip-hop" ? "selected" : "")>@Localizer["hip_hop"]</!option>
                    <!option value="indian" @(genre == "indian" ? "selected" : "")>@Localizer["indian"]</!option>
                    <!option value="k-pop" @(genre == "k-pop" ? "selected" : "")>@Localizer["k_pop"]</!option>
                    <!option value="punk" @(genre == "punk" ? "selected" : "")>@Localizer["punk"]</!option>
                    <!option value="piano" @(genre == "piano" ? "selected" : "")>@Localizer["piano"]</!option>
                    <!option value="reggae" @(genre == "reggae" ? "selected" : "")>@Localizer["reggae"]</!option>
                    <!option value="techno" @(genre == "techno" ? "selected" : "")>@Localizer["techno"]</!option>
                        </select>
            </div>
            <div class="filter-height-rectifier mb-2 ms-5">Ordenar por:</div>
            <div class="filter-height-rectifier mb-2 ms-2">
                <select id="filter-order-input" class="form-control filter-field" placeholder="" style="border: 1.5px solid #6610F2; border-radius: 15px;">
                    <!option selected value="">Selecione a ordem</!option>
                    <!option value="a-z">A - Z</!option>
                    <!option value="z-a">Z - A</!option>
					<!option value="newest">Mais recente</!option>
					<!option value="oldest">Mais antigo</!option>
                </select>
            </div>
            <div class="bi bi-search search-btn ms-5" onclick="actualEvent()"></div>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-action="Create" class="bottom-0 end-0 mt-3 me-4 mb-4 btn btn-primary post-btn-center-lg">@Localizer["create_new_post"]</a>
        </p>
    }
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="btn-group">
                            <a asp-action="Details" asp-route-id="@item.PostId" style="background-color:#6610F2;color:#fff;" class="btn btn-sm btn-outline-secondary">@Localizer["details"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        // Hide the success and error messages after 5 seconds
        $("#success-alert, #error-alert").delay(5000).fadeOut(500);

        // Dismiss the success and error messages when the close button is clicked
        $(".close").click(function () {
            $("#success-alert, #error-alert").alert("close");
        });
    });

    function actualEvent() {
        let inputName = document.getElementById("filter-name-input");
        let inputGenre = document.getElementById("filter-genre-input");
        let inputOrder = document.getElementById("filter-order-input");

        let path = window.location.href.split("?")[0];
        if (inputName.value || inputGenre.value || inputOrder.value) {
            path+="?";

            let params = new URLSearchParams({
                name: inputName.value,
                genre: inputGenre.value,
                order: inputOrder.value
            }).toString();

            path += params;
            window.location.href = path;
        }

        event.preventDefault();
    }

    document.getElementById("filter").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            let focusElement = document.activeElement;
            let inputName = document.getElementById("filter-name-input");
            let inputGenre = document.getElementById("filter-genre-input");
            let inputOrder = document.getElementById("filter-order-input");
            if (inputName === focusElement || inputGenre === focusElement || inputOrder === focusElement) {
                //only if one of the elements is higthligthed
                event.preventDefault();
                actualEvent();
            }
        }
    }
    );
</script>
<style>
    .filter-height-rectifier {
        height: 24pt;
        line-height: 26pt;
    }

    .filter-field {
        width: 20vw;
    }
</style>